{
  "swagger": "2.0",
  "info": {
    "title": "known-admin-v1",
    "version": "0.1.19",
    "contact": {
      "name": "admin.v1.known",
      "url": "http://admin.v1.known.api.grpc-kit.com"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "https://github.com/grpc-kit/cli/blob/main/LICENSE"
    }
  },
  "host": "admin.v1.known.api.grpc-kit.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/builtin/admin/api/v1/auth/callback/{provider_name}": {
      "get": {
        "summary": "第三方认证回调",
        "description": "接口格式：/builtin/admin/api/v1/auth/callback/{provider_name}。用于 OIDC/OAUTH2 等外部认证回调换取 token。前置条件：state 与 provider_name 必须匹配已发起的登录会话，服务端应审计回调来源并禁止重复消费授权码。",
        "operationId": "KnownAdmin_GetAuthCallback",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetAuthCallbackResponse"
            },
            "examples": {
              "application/json": {
                "access_token": "\u003cjwt\u003e",
                "token_type": "Bearer"
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "provider_name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "认证鉴权"
        ]
      }
    },
    "/builtin/admin/api/v1/auth/login": {
      "post": {
        "summary": "登录认证",
        "description": "接口格式：/builtin/admin/api/v1/auth/login。LOCAL: password_hash=sha256(password)；LDAP: password_hash=base64(password)（兼容约定）。前置条件：provider_code 必须处于启用状态，服务端应审计登录失败与来源 IP，并对连续失败触发限流或锁定策略。请求体示例：{\"username\":\"alice\",\"password_hash\":\"3f786850e387550fdab836ed7e6dc881de23001b\",\"provider_code\":\"local\",\"expires_in\":86400}。",
        "operationId": "KnownAdmin_CreateAuthLogin",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthToken"
            },
            "examples": {
              "application/json": {
                "access_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImtpZC1hZG1pbi0yMDI2In0.eyJzdWIiOiIxMDAxIiwidXNlcm5hbWUiOiJhbGljZSIsInJvbGVzIjpbImF1ZGl0b3IiXSwic2NvcGUiOiJhZG1pbiByZWFkb25seSIsImV4cCI6MTc5OTk5OTk5OX0.signature",
                "token_type": "Bearer",
                "expires_in": 86400
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateAuthLoginRequest"
            }
          }
        ],
        "tags": [
          "认证鉴权"
        ]
      }
    },
    "/builtin/admin/api/v1/auth/login/options": {
      "get": {
        "summary": "获取登录页可用的认证提供方列表（无需认证，仅返回最小字段集）",
        "operationId": "KnownAdmin_ListLoginOptions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListLoginOptionsResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        }
      }
    },
    "/builtin/admin/api/v1/auth/mfa/confirm": {
      "post": {
        "summary": "确认开启 MFA",
        "description": "接口格式：/builtin/admin/api/v1/auth/mfa/confirm。用户扫码绑定验证器后输入 6 位 TOTP 码确认开启 MFA。前置条件：challenge_id 必须来自未完成的绑定流程，服务端应审计启用行为并禁止返回已使用过的恢复码。请求体示例：{\"challenge_id\":\"uuid-xxx\",\"totp_code\":\"123456\"}。",
        "operationId": "KnownAdmin_ConfirmUserMFA",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ConfirmUserMFAResponse"
            },
            "examples": {
              "application/json": {
                "recovery_codes": [
                  "a1b2c3d4",
                  "e5f6g7h8",
                  "i9j0k1l2",
                  "m3n4o5p6",
                  "q7r8s9t0",
                  "u1v2w3x4",
                  "y5z6a7b8",
                  "c9d0e1f2"
                ]
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ConfirmUserMFARequest"
            }
          }
        ],
        "tags": [
          "MFA 多因素认证"
        ]
      }
    },
    "/builtin/admin/api/v1/auth/mfa/setup/confirm": {
      "post": {
        "summary": "登录态首次配置 MFA（确认）",
        "description": "接口格式：/builtin/admin/api/v1/auth/mfa/setup/confirm。输入 6 位 TOTP 验证码确认绑定并签发登录 token。前置条件：setup_challenge_id 必须与开始阶段返回值匹配且未过期，服务端应审计确认结果并禁止跳过验证码校验直接签发 token。请求体示例：{\"setup_challenge_id\":\"uuid-setup-xxx\",\"totp_code\":\"123456\"}。",
        "operationId": "KnownAdmin_ConfirmAuthMFASetup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthToken"
            },
            "examples": {
              "application/json": {
                "access_token": "eyJhbGci...",
                "token_type": "Bearer",
                "expires_in": 86400
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ConfirmAuthMFASetupRequest"
            }
          }
        ],
        "tags": [
          "MFA 多因素认证"
        ]
      }
    },
    "/builtin/admin/api/v1/auth/mfa/setup/start": {
      "post": {
        "summary": "登录态首次配置 MFA（开始）",
        "description": "接口格式：/builtin/admin/api/v1/auth/mfa/setup/start。当登录返回 challenge_type=TOTP_SETUP 时，调用本接口获取二维码和密钥。前置条件：challenge_id 必须来自当前登录态且未过期，返回的 secret 仅允许本次配置流程使用并应写入审计日志。请求体示例：{\"challenge_id\":\"uuid-xxx\"}。",
        "operationId": "KnownAdmin_StartAuthMFASetup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1StartAuthMFASetupResponse"
            },
            "examples": {
              "application/json": {
                "secret": "JBSWY3DPEHPK3PXP",
                "qr_uri": "otpauth://totp/KnownAdmin:alice?secret=JBSWY3DPEHPK3PXP\u0026issuer=KnownAdmin",
                "setup_challenge_id": "uuid-setup-xxx"
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1StartAuthMFASetupRequest"
            }
          }
        ],
        "tags": [
          "MFA 多因素认证"
        ]
      }
    },
    "/builtin/admin/api/v1/auth/mfa/verify": {
      "post": {
        "summary": "登录 MFA 验证",
        "description": "接口格式：/builtin/admin/api/v1/auth/mfa/verify。在 CreateAuthLogin 返回 mfa_required=true 后，前端调用此接口完成 TOTP 二步验证。前置条件：challenge_id 必须来自未过期登录挑战，服务端应审计验证失败次数并禁止重复使用已完成挑战。请求体示例：{\"challenge_id\":\"uuid-xxx\",\"totp_code\":\"123456\"}。",
        "operationId": "KnownAdmin_VerifyAuthMFA",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthToken"
            },
            "examples": {
              "application/json": {
                "access_token": "eyJhbGci...",
                "token_type": "Bearer",
                "expires_in": 86400
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1VerifyAuthMFARequest"
            }
          }
        ],
        "tags": [
          "MFA 多因素认证"
        ]
      }
    },
    "/builtin/admin/api/v1/auth/providers": {
      "get": {
        "summary": "认证提供商列表",
        "description": "接口格式：/builtin/admin/api/v1/auth/providers。返回可用的认证方式（LOCAL/LDAP/OIDC/OAUTH2/GITHUB/GOOGLE/WECHAT）。前置条件：仅允许具备认证配置读取权限的管理员调用，返回结果禁止包含 client_secret、bind_password 等敏感字段。",
        "operationId": "KnownAdmin_ListAuthProviders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListAuthProvidersResponse"
            },
            "examples": {
              "application/json": {
                "providers": [
                  {
                    "id": "1",
                    "code": "corp-ldap",
                    "type": "LDAP",
                    "status": "ACTIVE",
                    "display_name": "企业LDAP",
                    "description": "企业统一身份源",
                    "sort_order": 20,
                    "icon_url": "https://cdn.example.com/icons/ldap.svg"
                  }
                ],
                "next_page_token": "providers:2",
                "total_size": 12
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "page_size",
            "description": "每页返回的最大提供商数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "view",
            "description": "View 控制返回字段的详细程度\n\n - VIEW_BASIC: List 默认\n - VIEW_STANDARD: 常规详情\n - VIEW_FULL: 全量",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "VIEW_UNSPECIFIED",
              "VIEW_BASIC",
              "VIEW_STANDARD",
              "VIEW_FULL"
            ],
            "default": "VIEW_UNSPECIFIED"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `type=OIDC AND status=ACTIVE`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"sort_order asc, created_at desc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "provider_status",
            "description": "ProviderStatus 提供商状态快捷过滤参数。\n示例: 1(ACTIVE)，仅返回可用于登录的认证提供方。\n复杂组合过滤请继续使用 filter。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "认证鉴权"
        ]
      },
      "post": {
        "summary": "创建认证提供商",
        "description": "接口格式：/builtin/admin/api/v1/auth/providers。用于创建 LDAP/OIDC/OAUTH2 等认证提供商配置。前置条件：仅允许具备最小权限的管理员调用，涉及 client_secret、bind_password 等敏感配置时应脱敏存储并写入审计日志。请求体示例：{\"provider\":{\"code\":\"corp-ldap\",\"type\":\"LDAP\",\"status\":\"ACTIVE\",\"display_name\":\"企业LDAP\",\"description\":\"企业统一身份源\"}}。",
        "operationId": "KnownAdmin_CreateAuthProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthProvider"
            },
            "examples": {
              "application/json": {
                "id": "2",
                "code": "corp-ldap",
                "type": "LDAP",
                "status": "ACTIVE",
                "display_name": "企业LDAP",
                "description": "仅企业员工可登录",
                "sort_order": 20,
                "icon_url": "https://cdn.example.com/icons/ldap.svg"
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "provider",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1AuthProvider"
            }
          }
        ],
        "tags": [
          "认证鉴权"
        ]
      }
    },
    "/builtin/admin/api/v1/auth/providers/{id}": {
      "get": {
        "summary": "获取认证提供商详情",
        "description": "接口格式：/builtin/admin/api/v1/auth/providers/{id}。前置条件：仅允许具备认证配置读取权限的管理员调用，响应中禁止回传 client_secret、bind_password 等敏感字段。",
        "operationId": "KnownAdmin_GetAuthProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthProvider"
            },
            "examples": {
              "application/json": {
                "id": "2",
                "code": "corp-ldap",
                "type": "LDAP",
                "status": "ACTIVE",
                "display_name": "企业LDAP",
                "description": "仅企业员工可登录",
                "sort_order": 20,
                "icon_url": "https://cdn.example.com/icons/ldap.svg"
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "认证鉴权"
        ]
      },
      "delete": {
        "summary": "删除认证提供商",
        "description": "接口格式：/builtin/admin/api/v1/auth/providers/{id}。删除指定认证提供商。前置条件：仅允许具备最小权限的管理员调用，删除前应确认无活动登录流量并记录审计日志。",
        "operationId": "KnownAdmin_DeleteAuthProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "认证鉴权"
        ]
      },
      "patch": {
        "summary": "更新认证提供商",
        "description": "接口格式：/builtin/admin/api/v1/auth/providers/{id}。按请求字段更新 provider 配置。前置条件：仅允许具备最小权限的管理员调用，涉及密钥或绑定口令变更时必须脱敏存储并写入审计日志。请求体示例：{\"id\":\"2\",\"provider\":{\"display_name\":\"企业LDAP（更新）\",\"status\":\"ACTIVE\"},\"update_mask\":{\"paths\":[\"display_name\",\"status\"]}}。",
        "operationId": "KnownAdmin_UpdateAuthProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthProvider"
            },
            "examples": {
              "application/json": {
                "id": "2",
                "code": "corp-ldap",
                "type": "LDAP",
                "status": "ACTIVE",
                "display_name": "企业LDAP（更新）",
                "description": "新增安全基线策略",
                "sort_order": 10,
                "icon_url": "https://cdn.example.com/icons/ldap.svg"
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "provider",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1AuthProvider"
            }
          }
        ],
        "tags": [
          "认证鉴权"
        ]
      }
    },
    "/builtin/admin/api/v1/auth/token": {
      "post": {
        "summary": "创建访问令牌",
        "description": "接口格式：/builtin/admin/api/v1/auth/token。用于受控场景下签发 access_token。前置条件：仅允许受信任客户端或后台作业调用，服务端应审计令牌签发主体、scope 与 expires_in。请求体示例：{\"appid\":\"admin-web\",\"username\":\"admin\",\"password_hash\":\"8c6976e5b5410415bde908bd4dee15dfb16b0f5f\",\"expires_in\":7200}。",
        "operationId": "KnownAdmin_CreateAuthToken",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthToken"
            },
            "examples": {
              "application/json": {
                "access_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImtpZC1zZXJ2aWNlLTIwMjYifQ.eyJzdWIiOiIxIiwidXNlcm5hbWUiOiJhZG1pbiIsInNjb3BlIjoiYWRtaW4iLCJleHAiOjE3OTk5OTk5OTl9.signature",
                "token_type": "Bearer",
                "expires_in": 7200
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateAuthTokenRequest"
            }
          }
        ],
        "tags": [
          "认证鉴权"
        ]
      }
    },
    "/builtin/admin/api/v1/credentials": {
      "post": {
        "summary": "创建凭证",
        "description": "接口格式：/builtin/admin/api/v1/credentials。根据 credential 字段创建密钥或证书凭证。前置条件：仅允许具备密钥管理权限的管理员调用，禁止回传私钥材料，新增或轮换操作必须写入审计日志。请求体示例：{\"credential\":{\"code\":\"admin-jwks\",\"type\":\"JWKS\",\"algorithm\":\"RSA\",\"usage\":\"AUTH\",\"status\":\"ACTIVE\",\"source\":\"SYSTEM\",\"jwks_uri\":\"https://admin.v1.known.api.grpc-kit.com/builtin/admin/api/v1/oauth2/jwks\"}}。",
        "operationId": "KnownAdmin_CreateCredential",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Credential"
            },
            "examples": {
              "application/json": {
                "id": "301",
                "code": "admin-jwks",
                "type": "JWKS",
                "algorithm": "RSA",
                "usage": "AUTH",
                "visibility": "PRIVATE",
                "status": "ACTIVE",
                "source": "SYSTEM",
                "key_id": "kid-admin-2026",
                "jwks_uri": "https://admin.v1.known.api.grpc-kit.com/builtin/admin/api/v1/oauth2/jwks",
                "metadata": {
                  "rotation": "30d"
                },
                "description": "OIDC 签名公钥集合"
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "credential",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Credential"
            }
          }
        ],
        "tags": [
          "安全相关"
        ]
      }
    },
    "/builtin/admin/api/v1/database/initialize": {
      "post": {
        "summary": "初始化数据库",
        "description": "接口格式：/builtin/admin/api/v1/database/initialize。执行数据库初始化，空响应表示成功。请求体示例：{\"force\":false,\"tenant\":\"default\"}。",
        "operationId": "KnownAdmin_CreateDatabaseInitialize",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateDatabaseInitializeRequest"
            }
          }
        ],
        "tags": [
          "数据库相关"
        ]
      }
    },
    "/builtin/admin/api/v1/departments": {
      "get": {
        "summary": "部门列表",
        "description": "接口格式：/builtin/admin/api/v1/departments。支持分页、过滤与排序。",
        "operationId": "KnownAdmin_ListDepartments",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListDepartmentsResponse"
            },
            "examples": {
              "application/json": {
                "departments": [
                  {
                    "id": "5001",
                    "parent_id": "1",
                    "code": "risk-center",
                    "display_name": "风控中心",
                    "type": "BUSINESS",
                    "status": "ACTIVE",
                    "sort_order": 20,
                    "email": "risk@example.com",
                    "cost_center_code": "CC-RISK-001",
                    "budget_item_code": "BG-2026-RISK",
                    "visibility": "VISIBLE"
                  },
                  {
                    "id": "5002",
                    "parent_id": "5001",
                    "code": "risk-audit",
                    "display_name": "审计组",
                    "type": "SUPPORT",
                    "status": "ACTIVE",
                    "sort_order": 30,
                    "email": "audit@example.com",
                    "cost_center_code": "CC-RISK-002",
                    "budget_item_code": "BG-2026-AUDIT",
                    "visibility": "VISIBLE"
                  }
                ],
                "next_page_token": "departments:cursor:2",
                "total_size": 2
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"departments/123\" 表示仅返回 parent_id=123 的直接子部门；空表示不按父级过滤。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大部门数。\n- structure=STRUCTURE_UNSPECIFIED 或 STRUCTURE_FLAT：默认 20，最大 100。\n- structure=STRUCTURE_TREE 或 STRUCTURE_TREE_EXPANDED：默认 1000，最大 5000。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "view",
            "description": " - VIEW_BASIC: List 默认\n - VIEW_STANDARD: 常规详情\n - VIEW_FULL: 全量",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "VIEW_UNSPECIFIED",
              "VIEW_BASIC",
              "VIEW_STANDARD",
              "VIEW_FULL"
            ],
            "default": "VIEW_UNSPECIFIED"
          },
          {
            "name": "structure",
            "description": " - STRUCTURE_FLAT: 平铺列表（默认），支持分页\n - STRUCTURE_TREE: 层级结构（父子），不支持分页\n - STRUCTURE_TREE_EXPANDED: 层级结构 + 全展开，不支持分页",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "STRUCTURE_UNSPECIFIED",
              "STRUCTURE_FLAT",
              "STRUCTURE_TREE",
              "STRUCTURE_TREE_EXPANDED"
            ],
            "default": "STRUCTURE_UNSPECIFIED"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "department_type",
            "description": "TODO；以下将来会统一使用 filter 参数实现过滤",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "department_status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "部门管理"
        ]
      },
      "post": {
        "summary": "创建部门",
        "description": "接口格式：/builtin/admin/api/v1/departments。根据 department 字段创建部门。请求体示例：{\"department\":{\"parent_id\":\"1\",\"code\":\"risk-center\",\"display_name\":\"风控中心\",\"type\":\"BUSINESS\",\"status\":\"ACTIVE\",\"cost_center_code\":\"CC-RISK-001\"}}。",
        "operationId": "KnownAdmin_CreateDepartment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Department"
            },
            "examples": {
              "application/json": {
                "id": "10",
                "parent_id": "1",
                "code": "rd-center",
                "display_name": "研发中心",
                "type": "BUSINESS",
                "status": "ACTIVE",
                "sort_order": 20,
                "email": "rd@example.com",
                "cost_center_code": "CC-RD-001",
                "budget_item_code": "BG-2026-RD",
                "max_members": 200,
                "description": "负责核心产品研发",
                "visibility": "VISIBLE"
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Department"
            }
          }
        ],
        "tags": [
          "部门管理"
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{department.id}": {
      "patch": {
        "summary": "更新部门",
        "description": "接口格式：/builtin/admin/api/v1/departments/{department.id}。路径中的 department.id 应与请求体一致，支持 update_mask。请求体示例：{\"department\":{\"id\":\"5001\",\"display_name\":\"风控中心（更新）\",\"sort_order\":15},\"update_mask\":{\"paths\":[\"display_name\",\"sort_order\"]}}。",
        "operationId": "KnownAdmin_UpdateDepartment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Department"
            },
            "examples": {
              "application/json": {
                "id": "10",
                "parent_id": "1",
                "code": "rd-center",
                "display_name": "研发中心（更新）",
                "type": "BUSINESS",
                "status": "ACTIVE",
                "sort_order": 15,
                "email": "rd-platform@example.com",
                "cost_center_code": "CC-RD-001",
                "budget_item_code": "BG-2026-RD",
                "description": "新增平台研发职责",
                "visibility": "VISIBLE"
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department.id",
            "description": "ID 部门唯一标识符，系统自动生成\n用于数据库主键和跨系统引用，建议使用自增整型",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "department",
            "description": "Department 组织部门实体，支持树形层级结构的企业组织架构管理\n设计原则：一个用户仅可归属于一个主部门，但可通过角色关系参与多个部门的管理\n支持国际化、状态管理、财务集成等企业级功能\n\n字段布局约定：标识区 → 业务属性区 → 扩展区(description/visibility/protected) → 关系区 → 审计区\n\n======== 标识区 ========",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "parent_id": {
                  "type": "string",
                  "format": "int64",
                  "title": "ParentID 父部门ID，构建树形组织结构\n值为 0 表示顶级部门（如：总公司、集团总部）\n支持多级嵌套，建议层级深度不超过 6 级以保证查询性能"
                },
                "code": {
                  "type": "string",
                  "title": "Code 系统标识符，创建后不可修改\n规则：以小写字母开头，仅包含小写字母、数字、连字符、点号和冒号，不允许连续分隔符，以字母或数字结尾\n长度：2-32 字符；如客户端未提供，服务端自动生成 12 位随机编码\n示例：手动 \"tech.dept\"、\"hr\"；自动 \"a7k2m3x9b5f1\""
                },
                "display_name": {
                  "type": "string",
                  "title": "DisplayName 前端展示名称，根据用户的语言环境，自动转换为相应区域的语言说明\n用于部门名称的多语言显示，提升用户体验和国际化支持"
                },
                "type": {
                  "$ref": "#/definitions/v1DepartmentType"
                },
                "status": {
                  "$ref": "#/definitions/v1DepartmentStatus"
                },
                "sort_order": {
                  "type": "integer",
                  "format": "int32",
                  "title": "SortOrder 部门排序顺序，用于同级部门的显示顺序\n数值越小排序越靠前，建议使用 10 的倍数便于后续插入\n默认值：100，范围：1-9999"
                },
                "email": {
                  "type": "string",
                  "title": "Email 部门公共邮箱地址，用于对外联系和内部通知\n格式：标准邮箱格式，如 \"tech@company.com\"\n用途：部门公告、外部合作、客户联系等"
                },
                "phone_number": {
                  "$ref": "#/definitions/v1PhoneNumber",
                  "title": "PhoneNumber 部门联系电话，支持国际化电话号码格式\n包含国家代码、区号、号码等完整信息\n用于紧急联系、业务咨询等场景"
                },
                "address": {
                  "$ref": "#/definitions/v1Address",
                  "title": "Address 部门办公地址，支持结构化地址信息\n包含国家、省市、详细地址等信息\n用于邮寄、拜访、资产管理等业务场景"
                },
                "cost_center_code": {
                  "type": "string",
                  "title": "CostCenterCode 成本中心编码，用于财务核算和成本控制\n格式：企业自定义编码规则，如 \"CC-TECH-001\"\n用途：预算分配、成本归集、财务报表等\n与 ERP 系统集成时的重要标识字段"
                },
                "budget_item_code": {
                  "type": "string",
                  "title": "BudgetCode 预算编码，用于预算管理和费用控制\n格式：与财务系统对应的预算科目编码\n用途：年度预算、费用审批、财务分析等\n支持多维度预算管理（如：人员预算、设备预算等）"
                },
                "max_members": {
                  "type": "integer",
                  "format": "int32",
                  "title": "MaxMembers 部门最大成员数限制，用于人员规模控制\n值为 0 表示无限制，正整数表示具体限制\n用途：组织规模控制、人力成本管理、办公空间规划"
                },
                "external_id": {
                  "type": "string",
                  "title": "ExternalID 外部系统标识符，用于第三方系统集成\n如：ERP 系统部门编码、OA 系统部门 ID 等\n支持数据同步和跨系统业务流程"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "Metadata 扩展元数据，存储自定义业务属性\n键值对格式，支持灵活的业务扩展需求\n示例：{\"location\": \"北京\", \"floor\": \"15F\", \"capacity\": \"50\"}"
                },
                "description": {
                  "type": "string",
                  "title": "Description 部门描述信息，详细说明部门职责和业务范围\n用于组织介绍、职责说明、业务范围描述等\n建议长度：500 字符以内，支持富文本格式"
                },
                "visibility": {
                  "$ref": "#/definitions/v1Visibility",
                  "title": "Visibility 部门及成员列表的可见性策略（使用公共枚举 Visibility）"
                },
                "protected": {
                  "type": "boolean",
                  "title": "Protected 是否为系统内置/受保护的部门，受保护的部门不可删除"
                },
                "members": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/v1Membership"
                  },
                  "title": "Members 部门成员列表"
                },
                "children": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/v1Department"
                  },
                  "title": "Children 直接子部门列表，用于构建完整的组织树\n仅包含直接下级，避免深度递归查询\n建议在需要完整树结构时通过专门的服务接口获取"
                },
                "created_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "CreatedBy 创建者用户ID，记录部门创建人\n用于审计追踪和权限验证"
                },
                "updated_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "UpdatedBy 最后更新者用户ID，记录最近修改人\n用于变更追踪和责任确认"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "CreatedAt 创建时间戳，记录部门建立时间\n使用 UTC 时间，精确到毫秒级别"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "UpdatedAt 最后更新时间戳，记录最近修改时间\n用于数据同步和缓存失效判断"
                },
                "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "DeletedAt 软删除时间戳，支持数据恢复\n非空表示已删除，空值表示正常状态\n实现软删除机制，保护重要组织数据"
                }
              },
              "description": "字段布局约定：标识区 → 业务属性区 → 扩展区(description/visibility/protected) → 关系区 → 审计区\n\n======== 标识区 ========",
              "title": "Department 组织部门实体，支持树形层级结构的企业组织架构管理\n设计原则：一个用户仅可归属于一个主部门，但可通过角色关系参与多个部门的管理\n支持国际化、状态管理、财务集成等企业级功能"
            }
          }
        ],
        "tags": [
          "部门管理"
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{department_id}/members": {
      "post": {
        "summary": "添加部门成员",
        "description": "接口格式：/builtin/admin/api/v1/departments/{department_id}/members。支持将用户加入多个部门。请求体示例：{\"department_id\":\"5001\",\"members\":[{\"user_id\":\"1001\",\"member_role\":\"MANAGER\",\"member_type\":\"PRIMARY\"},{\"user_id\":\"1002\",\"member_role\":\"MEMBER\",\"member_type\":\"DUAL\"}]}。",
        "operationId": "KnownAdmin_CreateDepartmentMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateDepartmentMembersResponse"
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department_id",
            "description": "部门 ID，目标侧固定为 department。",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "members",
            "description": "要写入的用户到部门 membership 关系。",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/v1Membership"
              }
            }
          }
        ],
        "tags": [
          "部门管理"
        ]
      },
      "patch": {
        "summary": "更新部门成员",
        "description": "接口格式：/builtin/admin/api/v1/departments/{department_id}/members。按 members/update_mask 更新成员关系。请求体示例：{\"department_id\":\"5001\",\"members\":[{\"user_id\":\"1002\",\"member_role\":\"LEAD\",\"member_status\":\"ACTIVE\"}]}。",
        "operationId": "KnownAdmin_UpdateDepartmentMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UpdateDepartmentMembersResponse"
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department_id",
            "description": "部门 ID，目标侧固定为 department。",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "members",
            "description": "要更新的用户到部门 membership 关系。",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/v1Membership"
              }
            }
          }
        ],
        "tags": [
          "部门管理"
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{department_id}/members/{user_id}": {
      "delete": {
        "summary": "移除部门成员",
        "description": "接口格式：/builtin/admin/api/v1/departments/{department_id}/members/{user_id}。移除指定成员关系。",
        "operationId": "KnownAdmin_DeleteDepartmentMember",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department_id",
            "description": "部门 ID，目标侧固定为 department。",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "user_id",
            "description": "用户 ID，表示删除该用户在指定部门下的 membership 关系。",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "部门管理"
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{id}": {
      "delete": {
        "summary": "删除部门",
        "description": "接口格式：/builtin/admin/api/v1/departments/{id}。删除指定部门。",
        "operationId": "KnownAdmin_DeleteDepartment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "部门管理"
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{parent}/members": {
      "get": {
        "summary": "部门成员列表",
        "description": "接口格式：/builtin/admin/api/v1/departments/{parent}/members。parent 表示部门 ID。",
        "operationId": "KnownAdmin_ListDepartmentMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListDepartmentMembersResponse"
            },
            "examples": {
              "application/json": {
                "members": [
                  {
                    "id": "7001",
                    "user_id": "1001",
                    "username": "alice",
                    "nickname": "Alice Chen",
                    "target_type": "DEPARTMENT",
                    "target_id": "5001",
                    "member_role": "MANAGER",
                    "member_status": "ACTIVE",
                    "member_type": "PRIMARY",
                    "joined_at": "2026-01-03T09:00:00Z",
                    "metadata": {
                      "job_title": "Risk Manager"
                    },
                    "description": "风控中心负责人"
                  },
                  {
                    "id": "7002",
                    "user_id": "1002",
                    "username": "bob",
                    "nickname": "Bob Li",
                    "target_type": "DEPARTMENT",
                    "target_id": "5002",
                    "member_role": "MEMBER",
                    "member_status": "ACTIVE",
                    "member_type": "DUAL",
                    "joined_at": "2026-01-12T09:00:00Z",
                    "metadata": {
                      "job_title": "Backend Engineer"
                    },
                    "description": "审计平台联络人"
                  }
                ],
                "next_page_token": "dept-members:cursor:2",
                "total_size": 2
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "部门管理"
        ]
      }
    },
    "/builtin/admin/api/v1/global/settings": {
      "get": {
        "summary": "TODO: 补充 ListGlobalSettings 摘要",
        "description": "接口格式：GET /builtin/admin/api/v1/global/settings。前置条件与业务约束待补充。",
        "operationId": "KnownAdmin_ListGlobalSettings",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListGlobalSettingsResponse"
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "tags": [
          "全局设置"
        ]
      }
    },
    "/builtin/admin/api/v1/global/settings/{category}": {
      "get": {
        "summary": "TODO: 补充 GetGlobalSettings 摘要",
        "description": "接口格式：GET /builtin/admin/api/v1/global/settings/{category}。前置条件与业务约束待补充。",
        "operationId": "KnownAdmin_GetGlobalSettings",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GlobalSettingCategory"
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "全局设置"
        ]
      },
      "patch": {
        "summary": "TODO: 补充 UpdateGlobalSettings 摘要",
        "description": "接口格式：PATCH /builtin/admin/api/v1/global/settings/{category}。前置条件与业务约束待补充。",
        "operationId": "KnownAdmin_UpdateGlobalSettings",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UpdateGlobalSettingsResponse"
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "updates",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/v1UpdateGlobalSetting"
              }
            }
          }
        ],
        "tags": [
          "全局设置"
        ]
      }
    },
    "/builtin/admin/api/v1/groups": {
      "get": {
        "summary": "群组列表",
        "description": "接口格式：/builtin/admin/api/v1/groups。支持分页、过滤与排序。",
        "operationId": "KnownAdmin_ListGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListGroupsResponse"
            },
            "examples": {
              "application/json": {
                "groups": [
                  {
                    "id": "20",
                    "code": "ops-team",
                    "type": "PROJECT",
                    "status": "ACTIVE",
                    "display_name": "运维团队",
                    "sort_order": 30,
                    "max_members": 80,
                    "description": "负责线上运行保障",
                    "visibility": "VISIBLE",
                    "ref_id": "0",
                    "ref_expr": ""
                  }
                ],
                "next_page_token": "groups:21",
                "total_size": 14
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大群组数。\n- structure=STRUCTURE_UNSPECIFIED 或 STRUCTURE_FLAT：默认 20，最大 100。\n- structure=STRUCTURE_TREE 或 STRUCTURE_TREE_EXPANDED：默认 1000，最大 5000。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "view",
            "description": " - VIEW_BASIC: List 默认\n - VIEW_STANDARD: 常规详情\n - VIEW_FULL: 全量",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "VIEW_UNSPECIFIED",
              "VIEW_BASIC",
              "VIEW_STANDARD",
              "VIEW_FULL"
            ],
            "default": "VIEW_UNSPECIFIED"
          },
          {
            "name": "structure",
            "description": " - STRUCTURE_FLAT: 平铺列表（默认），支持分页\n - STRUCTURE_TREE: 层级结构（父子），不支持分页\n - STRUCTURE_TREE_EXPANDED: 层级结构 + 全展开，不支持分页",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "STRUCTURE_UNSPECIFIED",
              "STRUCTURE_FLAT",
              "STRUCTURE_TREE",
              "STRUCTURE_TREE_EXPANDED"
            ],
            "default": "STRUCTURE_UNSPECIFIED"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"sort_order asc\", \"created_at desc\"\n默认值: \"sort_order asc\"（按 sort_order 升序排列，数值越小越靠前）\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "group_type",
            "description": "TODO；以下将来会统一使用 filter 参数实现过滤",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "group_status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "display_name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "群组管理"
        ]
      },
      "post": {
        "summary": "创建群组",
        "description": "接口格式：/builtin/admin/api/v1/groups。根据 group 字段创建群组。请求体示例：{\"group\":{\"code\":\"ops-team\",\"display_name\":\"运维团队\",\"type\":\"PROJECT\",\"status\":\"ACTIVE\",\"max_members\":80}}。",
        "operationId": "KnownAdmin_CreateGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Group"
            },
            "examples": {
              "application/json": {
                "id": "20",
                "code": "ops-team",
                "type": "PROJECT",
                "status": "ACTIVE",
                "display_name": "运维团队",
                "sort_order": 30,
                "max_members": 80,
                "metadata": {
                  "slack_channel": "#ops-alert"
                },
                "description": "负责线上运行保障",
                "visibility": "VISIBLE",
                "ref_id": "0",
                "ref_expr": ""
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "group",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Group"
            }
          }
        ],
        "tags": [
          "群组管理"
        ]
      }
    },
    "/builtin/admin/api/v1/groups/{group.id}": {
      "patch": {
        "summary": "更新群组",
        "description": "接口格式：/builtin/admin/api/v1/groups/{group.id}。路径中的 group.id 应与请求体一致，支持 update_mask。请求体示例：{\"group\":{\"id\":\"20\",\"display_name\":\"运维团队（更新）\",\"max_members\":100},\"update_mask\":{\"paths\":[\"display_name\",\"max_members\"]}}。",
        "operationId": "KnownAdmin_UpdateGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Group"
            },
            "examples": {
              "application/json": {
                "id": "20",
                "code": "ops-team",
                "type": "PROJECT",
                "status": "ACTIVE",
                "display_name": "运维团队（更新）",
                "sort_order": 25,
                "max_members": 100,
                "metadata": {
                  "slack_channel": "#ops-warroom"
                },
                "description": "增加应急值班职能",
                "visibility": "VISIBLE",
                "ref_id": "0",
                "ref_expr": ""
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "group.id",
            "description": "ID 群组 ID，全局唯一标识",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "group",
            "description": "Group 群组实体，表示一类相同维度的用户集合，扁平结构不支持树形\n该模型用于描述系统中各类用户分组，支持多维度的用户组织与管理",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "title": "Code 系统标识符，创建后不可修改\n规则：以小写字母开头，仅包含小写字母、数字、连字符、点号和冒号，不允许连续分隔符，以字母或数字结尾\n长度：2-32 字符；如客户端未提供，服务端自动生成 12 位随机编码\n示例：手动 \"dev.team\"、\"project-alpha\"；自动 \"a7k2m3x9b5f1\""
                },
                "type": {
                  "$ref": "#/definitions/v1GroupType"
                },
                "status": {
                  "$ref": "#/definitions/v1GroupStatus"
                },
                "display_name": {
                  "type": "string"
                },
                "sort_order": {
                  "type": "integer",
                  "format": "int32"
                },
                "max_members": {
                  "type": "integer",
                  "format": "int32"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "description": {
                  "type": "string"
                },
                "visibility": {
                  "$ref": "#/definitions/v1Visibility"
                },
                "ref_id": {
                  "type": "string",
                  "format": "int64"
                },
                "ref_expr": {
                  "type": "string"
                },
                "created_by": {
                  "type": "string",
                  "format": "int64"
                },
                "updated_by": {
                  "type": "string",
                  "format": "int64"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "deleted_at": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "title": "Group 群组实体，表示一类相同维度的用户集合，扁平结构不支持树形\n该模型用于描述系统中各类用户分组，支持多维度的用户组织与管理"
            }
          }
        ],
        "tags": [
          "群组管理"
        ]
      }
    },
    "/builtin/admin/api/v1/groups/{id}": {
      "get": {
        "summary": "获取群组详情",
        "description": "接口格式：/builtin/admin/api/v1/groups/{id}。根据群组 ID 获取详情。",
        "operationId": "KnownAdmin_GetGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Group"
            },
            "examples": {
              "application/json": {
                "id": "20",
                "code": "ops-team",
                "type": "PROJECT",
                "status": "ACTIVE",
                "display_name": "运维团队",
                "sort_order": 30,
                "max_members": 80,
                "metadata": {
                  "slack_channel": "#ops-alert"
                },
                "description": "负责线上运行保障",
                "visibility": "VISIBLE",
                "ref_id": "0",
                "ref_expr": ""
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "view",
            "description": " - VIEW_BASIC: List 默认\n - VIEW_STANDARD: 常规详情\n - VIEW_FULL: 全量",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "VIEW_UNSPECIFIED",
              "VIEW_BASIC",
              "VIEW_STANDARD",
              "VIEW_FULL"
            ],
            "default": "VIEW_UNSPECIFIED"
          },
          {
            "name": "structure",
            "description": " - STRUCTURE_FLAT: 平铺列表（默认），支持分页\n - STRUCTURE_TREE: 层级结构（父子），不支持分页\n - STRUCTURE_TREE_EXPANDED: 层级结构 + 全展开，不支持分页",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "STRUCTURE_UNSPECIFIED",
              "STRUCTURE_FLAT",
              "STRUCTURE_TREE",
              "STRUCTURE_TREE_EXPANDED"
            ],
            "default": "STRUCTURE_UNSPECIFIED"
          }
        ],
        "tags": [
          "群组管理"
        ]
      },
      "delete": {
        "summary": "删除群组",
        "description": "接口格式：/builtin/admin/api/v1/groups/{id}。删除指定群组。",
        "operationId": "KnownAdmin_DeleteGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "群组管理"
        ]
      }
    },
    "/builtin/admin/api/v1/groups/{parent}/members": {
      "get": {
        "summary": "群组成员列表",
        "description": "接口格式：/builtin/admin/api/v1/groups/{parent}/members。parent 表示群组 ID。",
        "operationId": "KnownAdmin_ListGroupMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListGroupMembersResponse"
            },
            "examples": {
              "application/json": {
                "members": [
                  {
                    "id": "801",
                    "user_id": "1",
                    "username": "admin",
                    "nickname": "系统管理员",
                    "target_type": "GROUP",
                    "target_id": "20",
                    "member_role": "OWNER",
                    "member_status": "ACTIVE",
                    "member_type": "PRIMARY",
                    "description": "群组负责人"
                  }
                ],
                "next_page_token": "group-members:2",
                "total_size": 1
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "群组管理"
        ]
      },
      "post": {
        "summary": "创建群组成员",
        "description": "接口格式：/builtin/admin/api/v1/groups/{parent}/members。parent 表示群组 ID。请求体示例：{\"parent\":\"20\",\"members\":[{\"user_id\":\"1001\",\"member_role\":\"OWNER\"},{\"user_id\":\"1002\",\"member_role\":\"MEMBER\"}]}。",
        "operationId": "KnownAdmin_CreateGroupMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateGroupMembersResponse"
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "群组 ID，字段名沿用既有 parent 命名以兼容历史接口。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "members",
            "description": "要写入的用户到群组 membership 关系。",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/v1Membership"
              }
            }
          }
        ],
        "tags": [
          "群组管理"
        ]
      }
    },
    "/builtin/admin/api/v1/groups/{parent}/members/{user_id}": {
      "delete": {
        "summary": "删除群组成员",
        "description": "接口格式：/builtin/admin/api/v1/groups/{parent}/members/{user_id}。parent 表示群组 ID。",
        "operationId": "KnownAdmin_DeleteGroupMember",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "群组 ID，字段名沿用既有 parent 命名以兼容历史接口。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "description": "用户 ID，表示删除该用户在指定群组下的 membership 关系。",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "群组管理"
        ]
      },
      "patch": {
        "summary": "更新群组成员",
        "description": "接口格式：/builtin/admin/api/v1/groups/{parent}/members/{user_id}。parent 表示群组 ID。请求体示例：{\"parent\":\"20\",\"user_id\":\"1002\",\"member\":{\"member_role\":\"LEAD\",\"member_status\":\"ACTIVE\"},\"update_mask\":{\"paths\":[\"member_role\",\"member_status\"]}}。",
        "operationId": "KnownAdmin_UpdateGroupMember",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Membership"
            },
            "examples": {
              "application/json": {
                "id": "802",
                "user_id": "2",
                "username": "alice",
                "nickname": "Alice",
                "target_type": "GROUP",
                "target_id": "20",
                "member_role": "MEMBER",
                "member_status": "ACTIVE",
                "member_type": "PRIMARY",
                "description": "值班成员"
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "群组 ID，字段名沿用既有 parent 命名以兼容历史接口。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "member",
            "description": "用户到群组的 membership 关系变更内容。",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Membership"
            }
          }
        ],
        "tags": [
          "群组管理"
        ]
      }
    },
    "/builtin/admin/api/v1/local/configs": {
      "get": {
        "summary": "本地配置模块列表",
        "description": "接口格式：/builtin/admin/api/v1/local/configs。返回可查询模块及其启用状态。",
        "operationId": "KnownAdmin_ListLocalConfigs",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListLocalConfigsResponse"
            },
            "examples": {
              "application/json": {
                "configs": [
                  {
                    "name": "services",
                    "enabled": true
                  },
                  {
                    "name": "security",
                    "enabled": true
                  },
                  {
                    "name": "database",
                    "enabled": false
                  }
                ]
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "tags": [
          "本地配置"
        ]
      }
    },
    "/builtin/admin/api/v1/local/configs/{name}": {
      "get": {
        "summary": "按模块获取本地配置",
        "description": "接口格式：/builtin/admin/api/v1/local/configs/{name}。按模块返回对应配置快照。",
        "operationId": "KnownAdmin_GetLocalConfigs",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1LocalConfigs"
            },
            "examples": {
              "application/json": {
                "security": {
                  "name": "security",
                  "enabled": true,
                  "authentication": {
                    "insecure_rpcs": [
                      "grpc.health.v1.Health/Check"
                    ],
                    "http_users": [
                      {
                        "user_id": "1",
                        "username": "admin",
                        "groups": [
                          "root"
                        ],
                        "tenant": "default"
                      }
                    ]
                  }
                }
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "本地配置"
        ]
      }
    },
    "/builtin/admin/api/v1/menus": {
      "get": {
        "summary": "TODO: 补充 ListMenus 摘要",
        "description": "接口格式：GET /builtin/admin/api/v1/menus。前置条件与业务约束待补充。",
        "operationId": "KnownAdmin_ListMenus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListMenusResponse"
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "view",
            "description": " - VIEW_BASIC: List 默认\n - VIEW_STANDARD: 常规详情\n - VIEW_FULL: 全量",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "VIEW_UNSPECIFIED",
              "VIEW_BASIC",
              "VIEW_STANDARD",
              "VIEW_FULL"
            ],
            "default": "VIEW_UNSPECIFIED"
          },
          {
            "name": "structure",
            "description": " - STRUCTURE_FLAT: 平铺列表（默认），支持分页\n - STRUCTURE_TREE: 层级结构（父子），不支持分页\n - STRUCTURE_TREE_EXPANDED: 层级结构 + 全展开，不支持分页",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "STRUCTURE_UNSPECIFIED",
              "STRUCTURE_FLAT",
              "STRUCTURE_TREE",
              "STRUCTURE_TREE_EXPANDED"
            ],
            "default": "STRUCTURE_UNSPECIFIED"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource_id",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "菜单管理"
        ]
      },
      "post": {
        "summary": "TODO: 补充 CreateMenu 摘要",
        "description": "接口格式：POST /builtin/admin/api/v1/menus。前置条件与业务约束待补充。",
        "operationId": "KnownAdmin_CreateMenu",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Menu"
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "menu",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Menu"
            }
          }
        ],
        "tags": [
          "菜单管理"
        ]
      }
    },
    "/builtin/admin/api/v1/menus/{id}": {
      "delete": {
        "summary": "TODO: 补充 DeleteMenu 摘要",
        "description": "接口格式：DELETE /builtin/admin/api/v1/menus/{id}。前置条件与业务约束待补充。",
        "operationId": "KnownAdmin_DeleteMenu",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "菜单管理"
        ]
      }
    },
    "/builtin/admin/api/v1/menus/{menu.id}": {
      "patch": {
        "summary": "TODO: 补充 UpdateMenu 摘要",
        "description": "接口格式：PATCH /builtin/admin/api/v1/menus/{menu.id}。前置条件与业务约束待补充。",
        "operationId": "KnownAdmin_UpdateMenu",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Menu"
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "menu.id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "menu",
            "description": "Menu 菜单业务定义。",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "parent_id": {
                  "type": "string",
                  "format": "int64"
                },
                "code": {
                  "type": "string"
                },
                "display_name": {
                  "type": "string"
                },
                "route_path": {
                  "type": "string"
                },
                "component": {
                  "type": "string"
                },
                "icon": {
                  "type": "string"
                },
                "sort_order": {
                  "type": "integer",
                  "format": "int32"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "children": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/v1Menu"
                  }
                },
                "visibility": {
                  "$ref": "#/definitions/v1Visibility"
                },
                "description": {
                  "type": "string"
                },
                "protected": {
                  "type": "boolean"
                },
                "created_by": {
                  "type": "string",
                  "format": "int64"
                },
                "updated_by": {
                  "type": "string",
                  "format": "int64"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "title": "Menu 菜单业务定义。"
            }
          }
        ],
        "tags": [
          "菜单管理"
        ]
      }
    },
    "/builtin/admin/api/v1/oauth2/.well-known/openid-configuration": {
      "get": {
        "summary": "获取 OAuth2 Discovery",
        "description": "接口格式：/builtin/admin/api/v1/oauth2/.well-known/openid-configuration。前置条件：仅允许通过 HTTPS 暴露 issuer 元数据，配置变更应纳入审计。",
        "operationId": "KnownAdmin_GetOAuth2Discovery",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1OAuth2Discovery"
            },
            "examples": {
              "application/json": {
                "issuer": "https://admin.v1.known.api.grpc-kit.com",
                "authorization_endpoint": "https://admin.v1.known.api.grpc-kit.com/builtin/admin/api/v1/auth/login",
                "token_endpoint": "https://admin.v1.known.api.grpc-kit.com/builtin/admin/api/v1/auth/token",
                "jwks_uri": "https://admin.v1.known.api.grpc-kit.com/builtin/admin/api/v1/oauth2/jwks",
                "response_types_supported": [
                  "code",
                  "token"
                ],
                "subject_types_supported": [
                  "public"
                ],
                "id_token_signing_alg_values_supported": [
                  "RS256"
                ]
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "tags": [
          "安全相关"
        ]
      }
    },
    "/builtin/admin/api/v1/oauth2/clients": {
      "get": {
        "summary": "OAuth2 客户端列表",
        "description": "接口格式：/builtin/admin/api/v1/oauth2/clients。返回已注册的 OAuth2 客户端列表。前置条件：仅允许具备客户端管理权限的管理员调用，返回结果禁止包含 client_secret_hash 等敏感字段。",
        "operationId": "KnownAdmin_ListOAuth2Clients",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListOAuth2ClientsResponse"
            },
            "examples": {
              "application/json": {
                "clients": [
                  {
                    "id": "1",
                    "client_id": "web-app",
                    "display_name": "Web 应用",
                    "client_status": 1,
                    "redirect_uris": [
                      "https://app.example.com/callback"
                    ],
                    "grant_types": [
                      "authorization_code"
                    ],
                    "scopes": [
                      "openid",
                      "profile"
                    ]
                  },
                  {
                    "id": "2",
                    "client_id": "mobile.ios",
                    "display_name": "iOS 客户端",
                    "client_status": 1,
                    "redirect_uris": [
                      "com.example.app://oauth/callback"
                    ],
                    "grant_types": [
                      "authorization_code",
                      "refresh_token"
                    ],
                    "scopes": [
                      "openid",
                      "profile",
                      "email"
                    ]
                  }
                ],
                "next_page_token": "",
                "total_size": 2
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "page_size",
            "description": "每页返回的最大客户端数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `client_status=ACTIVE AND display_name~=\"web\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"client_status asc, created_at desc\"",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "client_status",
            "description": "ClientStatus 快捷过滤参数。\n示例: 1(ACTIVE)，仅返回启用中的客户端。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "安全相关"
        ]
      },
      "post": {
        "summary": "创建 OAuth2 客户端",
        "description": "接口格式：/builtin/admin/api/v1/oauth2/clients。用于注册新的 OAuth2 客户端应用。前置条件：仅允许具备最小权限的管理员调用，client_secret 使用 bcrypt 哈希存储，明文不可逆。请求体示例：{\"client\":{\"client_id\":\"web-app\",\"display_name\":\"Web 应用\",\"redirect_uris\":[\"https://app.example.com/callback\"],\"grant_types\":[\"authorization_code\"],\"scopes\":[\"openid\",\"profile\"]},\"client_secret\":\"my-secret-123\"}。",
        "operationId": "KnownAdmin_CreateOAuth2Client",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateOAuth2ClientResponse"
            },
            "examples": {
              "application/json": {
                "client": {
                  "id": "3",
                  "client_id": "web-app",
                  "display_name": "Web 应用",
                  "client_status": 1,
                  "redirect_uris": [
                    "https://app.example.com/callback"
                  ],
                  "grant_types": [
                    "authorization_code"
                  ],
                  "scopes": [
                    "openid",
                    "profile"
                  ]
                },
                "client_secret": "aB3kF9mN2qR7sV4x"
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateOAuth2ClientRequest"
            }
          }
        ],
        "tags": [
          "安全相关"
        ]
      }
    },
    "/builtin/admin/api/v1/oauth2/clients/{id}": {
      "get": {
        "summary": "获取 OAuth2 客户端详情",
        "description": "接口格式：/builtin/admin/api/v1/oauth2/clients/{id}。前置条件：仅允许具备客户端管理权限的管理员调用，响应中禁止回传 client_secret_hash 等敏感字段。",
        "operationId": "KnownAdmin_GetOAuth2Client",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1OAuth2Client"
            },
            "examples": {
              "application/json": {
                "id": "3",
                "client_id": "web-app",
                "display_name": "Web 应用",
                "client_status": 1,
                "redirect_uris": [
                  "https://app.example.com/callback"
                ],
                "grant_types": [
                  "authorization_code"
                ],
                "scopes": [
                  "openid",
                  "profile"
                ],
                "logo_url": "",
                "description": ""
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "安全相关"
        ]
      },
      "delete": {
        "summary": "删除 OAuth2 客户端",
        "description": "接口格式：/builtin/admin/api/v1/oauth2/clients/{id}。软删除指定 OAuth2 客户端。前置条件：仅允许具备最小权限的管理员调用，删除前应确认无活动授权流量并记录审计日志。",
        "operationId": "KnownAdmin_DeleteOAuth2Client",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "安全相关"
        ]
      },
      "patch": {
        "summary": "更新 OAuth2 客户端",
        "description": "接口格式：/builtin/admin/api/v1/oauth2/clients/{id}。按请求字段更新 client 配置。前置条件：仅允许具备最小权限的管理员调用，client_id 不可修改，client_secret 变更时使用 bcrypt 哈希存储。请求体示例：{\"id\":\"3\",\"client\":{\"display_name\":\"Web 应用（更新）\",\"client_status\":2},\"update_mask\":{\"paths\":[\"display_name\",\"client_status\"]}}。",
        "operationId": "KnownAdmin_UpdateOAuth2Client",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1OAuth2Client"
            },
            "examples": {
              "application/json": {
                "id": "3",
                "client_id": "web-app",
                "display_name": "Web 应用（更新）",
                "client_status": 2,
                "redirect_uris": [
                  "https://app.example.com/callback"
                ],
                "grant_types": [
                  "authorization_code"
                ],
                "scopes": [
                  "openid",
                  "profile"
                ]
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": "#/definitions/v1ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "client": {
                  "$ref": "#/definitions/v1OAuth2Client"
                },
                "update_mask": {
                  "type": "string",
                  "title": "指定需要更新的字段列表，未列出的字段不会被修改。\n注意：client_id 不可修改，即使列入 update_mask 也会被忽略。\n示例: paths: [\"display_name\", \"client_status\", \"redirect_uris\"]"
                },
                "client_secret": {
                  "type": "string",
                  "title": "ClientSecret 新的客户端密钥明文（可选）\n- 如果提供非空值，服务端将 bcrypt 哈希后覆盖现有密钥。\n- 如果未提供或为空，保持现有密钥不变。"
                }
              },
              "title": "UpdateOAuth2ClientRequest 更新 OAuth2 客户端"
            }
          }
        ],
        "tags": [
          "安全相关"
[...]
