openapiOptions:
  # grpc.gateway.protoc_gen_openapiv2.options.Swagger
  # 对应 swagger 属性，一般不做更改
  file:
    - file: "known/admin/v1/admin.proto"
      option:
        swagger: "2.0"
        info:
          title: "known-admin-v1"
          contact:
            name: "admin.v1.known"
            url: "http://admin.v1.known.api.grpc-kit.com"
          license:
            name: "Apache License 2.0"
            url: "https://github.com/grpc-kit/cli/blob/main/LICENSE"
          version: "0.1.19"
        host: "admin.v1.known.api.grpc-kit.com"
        base_path: "/"
        schemes:
          - "HTTP"
        consumes:
          - "application/json"
        produces:
          - "application/json"
        securityDefinitions:
          security:
            BasicAuth:
              type: "TYPE_BASIC"
            ApiKeyAuth:
              type: "TYPE_API_KEY"
              in: "IN_HEADER"
              name: "Authorization: Bearer <token>"
        security:
          - securityRequirement:
              BasicAuth: {}
          - securityRequirement:
              ApiKeyAuth: {}
        responses:
          "4xx":
            description: "客户端参数异常"
            schema:
              jsonSchema:
                ref: ".grpc_kit.api.known.status.v1.ErrorResponse"
          "5xx":
            description: "服务端处理异常"
            schema:
              jsonSchema:
                ref: ".grpc_kit.api.known.status.v1.ErrorResponse"
        external_docs:
          description: 'Code generated by "grpc-kit-cli/0.3.8-beta.1"'
          url: "https://grpc-kit.com"

  # grpc.gateway.protoc_gen_openapiv2.options.Operation
  # 对应 proto 中 service 的 rpc
  method:
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateAuthLogin
      option:
        tags:
          - "认证鉴权"
        summary: "登录认证"
        description: '接口格式：/builtin/admin/api/v1/auth/login。LOCAL: password_hash=sha256(password)；LDAP: password_hash=base64(password)（兼容约定）。前置条件：provider_code 必须处于启用状态，服务端应审计登录失败与来源 IP，并对连续失败触发限流或锁定策略。请求体示例：{"username":"alice","password_hash":"3f786850e387550fdab836ed7e6dc881de23001b","provider_code":"local","expires_in":86400}。'
        responses:
          "200":
            examples:
              "application/json": '{"access_token":"eyJhbGciOiJSUzI1NiIsImtpZCI6ImtpZC1hZG1pbi0yMDI2In0.eyJzdWIiOiIxMDAxIiwidXNlcm5hbWUiOiJhbGljZSIsInJvbGVzIjpbImF1ZGl0b3IiXSwic2NvcGUiOiJhZG1pbiByZWFkb25seSIsImV4cCI6MTc5OTk5OTk5OX0.signature","token_type":"Bearer","expires_in":86400}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListLocalConfigs
      option:
        tags:
          - "本地配置"
        summary: "本地配置模块列表"
        description: "接口格式：/builtin/admin/api/v1/local/configs。返回可查询模块及其启用状态。"
        responses:
          "200":
            examples:
              "application/json": '{"configs":[{"name":"services","enabled":true},{"name":"security","enabled":true},{"name":"database","enabled":false}]}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.GetLocalConfigs
      option:
        tags:
          - "本地配置"
        summary: "按模块获取本地配置"
        description: "接口格式：/builtin/admin/api/v1/local/configs/{name}。按模块返回对应配置快照。"
        responses:
          "200":
            examples:
              "application/json": '{"security":{"name":"security","enabled":true,"authentication":{"insecure_rpcs":["grpc.health.v1.Health/Check"],"http_users":[{"user_id":"1","username":"admin","groups":["root"],"tenant":"default"}]}}}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateGlobalSetting
      option:
        tags:
          - "全局设置"
        summary: "创建自定义全局配置"
        description: "在指定分类创建数据库全局配置；仅 superadmin 可调用，配置立即生效。"
        responses:
          "200":
            examples:
              "application/json": '{"category":"security","setting_key":"custom.feature_enabled","setting_value":"true","value_type":"bool","description":"自定义功能开关","protected":false}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.GetGlobalSettings
      option:
        tags:
          - "全局设置"
        summary: "获取指定分类的全局配置"
        description: "合并返回 registry 内置项与数据库自定义项；仅 superadmin 可调用。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListGlobalSettings
      option:
        tags:
          - "全局设置"
        summary: "列出全部全局配置分类"
        description: "固定返回全部 13 个分类及其配置；仅 superadmin 可调用。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdateGlobalSettings
      option:
        tags:
          - "全局设置"
        summary: "批量更新全局配置"
        description: "以事务方式批量更新内置项或自定义项；仅 superadmin 可调用，配置立即生效。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DeleteGlobalSetting
      option:
        tags:
          - "全局设置"
        summary: "删除自定义全局配置"
        description: "删除指定自定义配置；registry 内置项不可删除，仅 superadmin 可调用。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateAuthToken
      option:
        tags:
          - "认证鉴权"
        summary: "创建访问令牌"
        description: '接口格式：/builtin/admin/api/v1/auth/token。用于受控场景下签发 access_token。前置条件：仅允许受信任客户端或后台作业调用，服务端应审计令牌签发主体、scope 与 expires_in。请求体示例：{"appid":"admin-web","username":"admin","password_hash":"8c6976e5b5410415bde908bd4dee15dfb16b0f5f","expires_in":7200}。'
        responses:
          "200":
            examples:
              "application/json": '{"access_token":"eyJhbGciOiJSUzI1NiIsImtpZCI6ImtpZC1zZXJ2aWNlLTIwMjYifQ.eyJzdWIiOiIxIiwidXNlcm5hbWUiOiJhZG1pbiIsInNjb3BlIjoiYWRtaW4iLCJleHAiOjE3OTk5OTk5OTl9.signature","token_type":"Bearer","expires_in":7200}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListAuthProviders
      option:
        tags:
          - "认证鉴权"
        summary: "认证提供商列表"
        description: "接口格式：/builtin/admin/api/v1/auth/providers。返回可用的认证方式（LOCAL/LDAP/OIDC/OAUTH2/GITHUB/GOOGLE/WECHAT）。前置条件：仅允许具备认证配置读取权限的管理员调用，返回结果禁止包含 client_secret、bind_password 等敏感字段。"
        responses:
          "200":
            examples:
              "application/json": '{"providers":[{"id":"1","code":"corp-ldap","type":"LDAP","status":"ACTIVE","display_name":"企业LDAP","description":"企业统一身份源","sort_order":20,"icon_url":"https://cdn.example.com/icons/ldap.svg"}],"next_page_token":"providers:2","total_size":12}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateAuthProvider
      option:
        tags:
          - "认证鉴权"
        summary: "创建认证提供商"
        description: '接口格式：/builtin/admin/api/v1/auth/providers。用于创建 LDAP/OIDC/OAUTH2 等认证提供商配置。前置条件：仅允许具备最小权限的管理员调用，涉及 client_secret、bind_password 等敏感配置时应脱敏存储并写入审计日志。请求体示例：{"provider":{"code":"corp-ldap","type":"LDAP","status":"ACTIVE","display_name":"企业LDAP","description":"企业统一身份源"}}。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"2","code":"corp-ldap","type":"LDAP","status":"ACTIVE","display_name":"企业LDAP","description":"仅企业员工可登录","sort_order":20,"icon_url":"https://cdn.example.com/icons/ldap.svg"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.GetAuthProvider
      option:
        tags:
          - "认证鉴权"
        summary: "获取认证提供商详情"
        description: "接口格式：/builtin/admin/api/v1/auth/providers/{id}。前置条件：仅允许具备认证配置读取权限的管理员调用，响应中禁止回传 client_secret、bind_password 等敏感字段。"
        responses:
          "200":
            examples:
              "application/json": '{"id":"2","code":"corp-ldap","type":"LDAP","status":"ACTIVE","display_name":"企业LDAP","description":"仅企业员工可登录","sort_order":20,"icon_url":"https://cdn.example.com/icons/ldap.svg"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DeleteAuthProvider
      option:
        tags:
          - "认证鉴权"
        summary: "删除认证提供商"
        description: "接口格式：/builtin/admin/api/v1/auth/providers/{id}。删除指定认证提供商。前置条件：仅允许具备最小权限的管理员调用，删除前应确认无活动登录流量并记录审计日志。"
        responses:
          "200":
            examples:
              "application/json": '{}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdateAuthProvider
      option:
        tags:
          - "认证鉴权"
        summary: "更新认证提供商"
        description: '接口格式：/builtin/admin/api/v1/auth/providers/{id}。按请求字段更新 provider 配置。前置条件：仅允许具备最小权限的管理员调用，涉及密钥或绑定口令变更时必须脱敏存储并写入审计日志。请求体示例：{"id":"2","provider":{"display_name":"企业LDAP（更新）","status":"ACTIVE"},"update_mask":{"paths":["display_name","status"]}}。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"2","code":"corp-ldap","type":"LDAP","status":"ACTIVE","display_name":"企业LDAP（更新）","description":"新增安全基线策略","sort_order":10,"icon_url":"https://cdn.example.com/icons/ldap.svg"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.GetAuthCallback
      option:
        tags:
          - "认证鉴权"
        summary: "第三方认证回调"
        description: "接口格式：/builtin/admin/api/v1/auth/callback/{provider_name}。用于 OIDC/OAUTH2 等外部认证回调换取 token。前置条件：state 与 provider_name 必须匹配已发起的登录会话，服务端应审计回调来源并禁止重复消费授权码。"
        responses:
          "200":
            examples:
              "application/json": '{"access_token":"<jwt>","token_type":"Bearer"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListServices
      option:
        tags:
          - "服务字典管理"
        summary: "TODO: 补充 ListServices 摘要"
        description: "接口格式：GET /builtin/admin/api/v1/services。前置条件与业务约束待补充。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListServiceActions
      option:
        tags:
          - "服务字典管理"
        summary: "TODO: 补充 ListServiceActions 摘要"
        description: "接口格式：GET /builtin/admin/api/v1/services/{parent}/actions。前置条件与业务约束待补充。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListPolicies
      option:
        tags:
          - "策略管理"
        summary: "策略列表"
        description: "接口格式：/builtin/admin/api/v1/policies。支持分页、过滤与排序。"
        responses:
          "200":
            examples:
              "application/json": '{"policies":[{"id":"1","code":"admin-policy","display_name":"管理员策略","type":"ROLE","status":"ENABLED","value":"role:admin","description":"管理员默认授权策略"}],"next_page_token":"policies:2","total_size":9}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.GetPolicy
      option:
        tags:
          - "策略管理"
        summary: "TODO: 补充 GetPolicy 摘要"
        description: "接口格式：GET /builtin/admin/api/v1/policies/{code}。前置条件与业务约束待补充。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreatePolicy
      option:
        tags:
          - "策略管理"
        summary: "创建策略"
        description: '接口格式：/builtin/admin/api/v1/policies。根据 policy 字段创建策略。请求体示例：{"policy":{"code":"auditor-policy","display_name":"审计策略","type":"ROLE","status":"DRAFT","value":"role:auditor"}}。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"2","code":"auditor-policy","display_name":"审计策略","type":"ROLE","status":"DRAFT","value":"role:auditor","description":"审计角色的读权限策略"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdatePolicy
      option:
        tags:
          - "策略管理"
        summary: "更新策略"
        description: '接口格式：/builtin/admin/api/v1/policies/{policy.id}。路径中的 policy.id 应与请求体一致，支持 update_mask。请求体示例：{"policy":{"id":"2","status":"ENABLED","value":"role:auditor-v2"},"update_mask":{"paths":["status","value"]}}。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"2","code":"auditor-policy","display_name":"审计策略（更新）","type":"ROLE","status":"ENABLED","value":"role:auditor-v2","description":"新增审计日志查询授权"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DeletePolicy
      option:
        tags:
          - "策略管理"
        summary: "删除策略"
        description: "接口格式：/builtin/admin/api/v1/policies/{id}。删除指定策略。"
        responses:
          "200":
            examples:
              "application/json": '{}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListMenus
      option:
        tags:
          - "菜单管理"
        summary: "TODO: 补充 ListMenus 摘要"
        description: "接口格式：GET /builtin/admin/api/v1/menus。前置条件与业务约束待补充。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateMenu
      option:
        tags:
          - "菜单管理"
        summary: "TODO: 补充 CreateMenu 摘要"
        description: "接口格式：POST /builtin/admin/api/v1/menus。前置条件与业务约束待补充。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdateMenu
      option:
        tags:
          - "菜单管理"
        summary: "TODO: 补充 UpdateMenu 摘要"
        description: "接口格式：PATCH /builtin/admin/api/v1/menus/{menu.id}。前置条件与业务约束待补充。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DeleteMenu
      option:
        tags:
          - "菜单管理"
        summary: "TODO: 补充 DeleteMenu 摘要"
        description: "接口格式：DELETE /builtin/admin/api/v1/menus/{id}。前置条件与业务约束待补充。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListRoles
      option:
        tags:
          - "角色管理"
        summary: "角色列表"
        description: "接口格式：/builtin/admin/api/v1/roles。支持分页、过滤与排序。"
        responses:
          "200":
            examples:
              "application/json": '{"roles":[{"id":"2001","parent_id":"0","code":"admin","display_name":"系统管理员","sort_order":10,"type":"SYSTEM","status":"ACTIVE","description":"系统内置管理员角色"},{"id":"2002","parent_id":"2001","code":"auditor","display_name":"审计员","sort_order":30,"type":"CUSTOM","status":"ACTIVE","description":"审计报表与日志查看角色"}],"next_page_token":"roles:cursor:2","total_size":2}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateRole
      option:
        tags:
          - "角色管理"
        summary: "创建角色"
        description: '接口格式：/builtin/admin/api/v1/roles。根据 role 字段创建角色。请求体示例：{"role":{"parent_id":"1","code":"auditor","display_name":"审计员","type":"CUSTOM","status":"ACTIVE"}}。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"2","parent_id":"1","code":"auditor","display_name":"审计员","sort_order":30,"type":"CUSTOM","status":"ACTIVE","description":"审计报表与日志查看角色"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.GetRole
      option:
        tags:
          - "角色管理"
        summary: "获取角色详情"
        description: "接口格式：/builtin/admin/api/v1/roles/{id}。根据角色 ID 获取详情。"
        responses:
          "200":
            examples:
              "application/json": '{"id":"2","parent_id":"1","code":"auditor","display_name":"审计员","sort_order":30,"type":"CUSTOM","status":"ACTIVE","description":"审计报表与日志查看角色"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdateRole
      option:
        tags:
          - "角色管理"
        summary: "更新角色"
        description: '接口格式：/builtin/admin/api/v1/roles/{role.id}。路径中的 role.id 应与请求体一致，支持 update_mask。请求体示例：{"role":{"id":"2","display_name":"审计员（高级）","sort_order":25},"update_mask":{"paths":["display_name","sort_order"]}}。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"2","parent_id":"1","code":"auditor","display_name":"审计员（高级）","sort_order":25,"type":"CUSTOM","status":"ACTIVE","description":"增加策略回溯查看权限"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DeleteRole
      option:
        tags:
          - "角色管理"
        summary: "删除角色"
        description: "接口格式：/builtin/admin/api/v1/roles/{id}。删除指定角色。"
        responses:
          "200":
            examples:
              "application/json": '{}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateRoleMembers
      option:
        tags:
          - "角色管理"
        summary: "创建角色主体绑定"
        description: '接口格式：POST /builtin/admin/api/v1/roles/{parent}/members。parent 为角色 ID；请求体为 bindings 数组，如 [{"principal_type":"USER","principal_id":"1001","binding_status":"ACTIVE"},{"principal_type":"GROUP","principal_id":"20","binding_status":"ACTIVE"}]。'
        responses:
          "200":
            examples:
              "application/json": '{}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdateRoleMembers
      option:
        tags:
          - "角色管理"
        summary: "更新角色主体绑定"
        description: '接口格式：PATCH /builtin/admin/api/v1/roles/{parent}/members。parent 为角色 ID；请求体为 bindings 数组。每行可通过 id 或 principal_type + principal_id 定位，支持更新 binding_status、expires_at、metadata、description。示例：[{"id":"10","principal_type":"USER","principal_id":"1","binding_status":"ACTIVE","description":"平台管理员直绑"}]。'
        responses:
          "200":
            examples:
              "application/json": '{}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListRoleMembers
      option:
        tags:
          - "角色管理"
        summary: "角色主体绑定列表"
        description: "接口格式：/builtin/admin/api/v1/roles/{parent}/members。parent 表示角色 ID。默认返回第一层主体绑定（bindings）；view=VIEW_FULL 时，members 返回展开后的有效用户 membership 结果。"
        responses:
          "200":
            examples:
              "application/json": '{"bindings":[{"id":"10","principal_type":"USER","principal_id":"1","principal_name":"系统管理员","principal_code":"admin","role_id":"2001","binding_status":"ACTIVE"},{"id":"11","principal_type":"GROUP","principal_id":"20","principal_name":"运维团队","principal_code":"ops-team","role_id":"2001","binding_status":"ACTIVE"},{"id":"12","principal_type":"DEPARTMENT","principal_id":"5001","principal_name":"风控中心","principal_code":"risk-center","role_id":"2001","binding_status":"DISABLED"}],"members":[],"next_page_token":"role-bindings:3","total_size":3}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DeleteRoleMember
      option:
        tags:
          - "角色管理"
        summary: "移除角色主体绑定"
        description: "接口格式：/builtin/admin/api/v1/roles/{parent}/members/{principal_type}/{principal_id}。parent 表示角色 ID；支持删除 USER / GROUP / DEPARTMENT 三类主体绑定。"
        responses:
          "200":
            examples:
              "application/json": '{}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateRoleMenus
      option:
        tags:
          - "菜单管理"
        summary: "TODO: 补充 CreateRoleMenus 摘要"
        description: "接口格式：POST /builtin/admin/api/v1/roles/{parent}/menus。前置条件与业务约束待补充。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdateRoleMenus
      option:
        tags:
          - "菜单管理"
        summary: "TODO: 补充 UpdateRoleMenus 摘要"
        description: "接口格式：PATCH /builtin/admin/api/v1/roles/{parent}/menus。前置条件与业务约束待补充。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListRoleMenus
      option:
        tags:
          - "菜单管理"
        summary: "TODO: 补充 ListRoleMenus 摘要"
        description: "接口格式：GET /builtin/admin/api/v1/roles/{parent}/menus。前置条件与业务约束待补充。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DeleteRoleMenu
      option:
        tags:
          - "菜单管理"
        summary: "TODO: 补充 DeleteRoleMenu 摘要"
        description: "接口格式：DELETE /builtin/admin/api/v1/roles/{parent}/menus/{menu_id}。前置条件与业务约束待补充。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateRolePolicies
      option:
        tags:
          - "策略管理"
        summary: "TODO: 补充 CreateRolePolicies 摘要"
        description: "接口格式：POST /builtin/admin/api/v1/roles/{parent}/policies。前置条件与业务约束待补充。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdateRolePolicies
      option:
        tags:
          - "策略管理"
        summary: "TODO: 补充 UpdateRolePolicies 摘要"
        description: "接口格式：PATCH /builtin/admin/api/v1/roles/{parent}/policies。前置条件与业务约束待补充。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListRolePolicies
      option:
        tags:
          - "策略管理"
        summary: "TODO: 补充 ListRolePolicies 摘要"
        description: "接口格式：GET /builtin/admin/api/v1/roles/{parent}/policies。前置条件与业务约束待补充。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DeleteRolePolicy
      option:
        tags:
          - "策略管理"
        summary: "TODO: 补充 DeleteRolePolicy 摘要"
        description: "接口格式：DELETE /builtin/admin/api/v1/roles/{parent}/policies/{policy_id}。前置条件与业务约束待补充。"
        responses:
          "200":
            examples:
              "application/json": "{}"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateDepartment
      option:
        tags:
          - "部门管理"
        summary: "创建部门"
        description: '接口格式：/builtin/admin/api/v1/departments。根据 department 字段创建部门。请求体示例：{"department":{"parent_id":"1","code":"risk-center","display_name":"风控中心","type":"BUSINESS","status":"ACTIVE","cost_center_code":"CC-RISK-001"}}。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"10","parent_id":"1","code":"rd-center","display_name":"研发中心","type":"BUSINESS","status":"ACTIVE","sort_order":20,"email":"rd@example.com","cost_center_code":"CC-RD-001","budget_item_code":"BG-2026-RD","max_members":200,"description":"负责核心产品研发","visibility":"VISIBLE"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListDepartments
      option:
        tags:
          - "部门管理"
        summary: "部门列表"
        description: "接口格式：/builtin/admin/api/v1/departments。支持分页、过滤与排序。"
        responses:
          "200":
            examples:
              "application/json": '{"departments":[{"id":"5001","parent_id":"1","code":"risk-center","display_name":"风控中心","type":"BUSINESS","status":"ACTIVE","sort_order":20,"email":"risk@example.com","cost_center_code":"CC-RISK-001","budget_item_code":"BG-2026-RISK","visibility":"VISIBLE"},{"id":"5002","parent_id":"5001","code":"risk-audit","display_name":"审计组","type":"SUPPORT","status":"ACTIVE","sort_order":30,"email":"audit@example.com","cost_center_code":"CC-RISK-002","budget_item_code":"BG-2026-AUDIT","visibility":"VISIBLE"}],"next_page_token":"departments:cursor:2","total_size":2}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DeleteDepartment
      option:
        tags:
          - "部门管理"
        summary: "移至部门回收站"
        description: "接口格式：DELETE /builtin/admin/api/v1/departments/{id}。仅叶子、未保护且没有部门群组引用的部门可软删除；成功后状态为 INACTIVE。"
        responses:
          "200":
            examples:
              "application/json": '{"id":"5001","code":"risk-center","status":"INACTIVE","deleted_at":"2026-08-21T09:00:00Z"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UndeleteDepartment
      option:
        tags:
          - "部门管理"
        summary: "恢复部门"
        description: "接口格式：POST /builtin/admin/api/v1/departments/{id}:undelete。恢复后保持 INACTIVE，须显式更新为 ACTIVE。"
        responses:
          "200":
            examples:
              "application/json": '{"id":"5001","code":"risk-center","status":"INACTIVE"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ExpungeDepartment
      option:
        tags:
          - "部门管理"
        summary: "永久删除部门"
        description: "接口格式：POST /builtin/admin/api/v1/departments/{id}:expunge。仅处理已软删除、未保护、无子部门且无部门群组引用的部门；会物理清理部门成员和角色绑定。"
        responses:
          "200":
            examples:
              "application/json": '{}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdateDepartment
      option:
        tags:
          - "部门管理"
        summary: "更新部门"
        description: '接口格式：/builtin/admin/api/v1/departments/{department.id}。路径中的 department.id 应与请求体一致，支持 update_mask。请求体示例：{"department":{"id":"5001","display_name":"风控中心（更新）","sort_order":15},"update_mask":{"paths":["display_name","sort_order"]}}。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"10","parent_id":"1","code":"rd-center","display_name":"研发中心（更新）","type":"BUSINESS","status":"ACTIVE","sort_order":15,"email":"rd-platform@example.com","cost_center_code":"CC-RD-001","budget_item_code":"BG-2026-RD","description":"新增平台研发职责","visibility":"VISIBLE"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListDepartmentMembers
      option:
        tags:
          - "部门管理"
        summary: "部门成员列表"
        description: "接口格式：/builtin/admin/api/v1/departments/{parent}/members。parent 表示部门 ID。"
        responses:
          "200":
            examples:
              "application/json": '{"members":[{"id":"7001","user_id":"1001","username":"alice","nickname":"Alice Chen","target_type":"DEPARTMENT","target_id":"5001","member_role":"MANAGER","member_status":"ACTIVE","member_type":"PRIMARY","joined_at":"2026-01-03T09:00:00Z","metadata":{"job_title":"Risk Manager"},"description":"风控中心负责人"},{"id":"7002","user_id":"1002","username":"bob","nickname":"Bob Li","target_type":"DEPARTMENT","target_id":"5002","member_role":"MEMBER","member_status":"ACTIVE","member_type":"DUAL","joined_at":"2026-01-12T09:00:00Z","metadata":{"job_title":"Backend Engineer"},"description":"审计平台联络人"}],"next_page_token":"dept-members:cursor:2","total_size":2}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateDepartmentMembers
      option:
        tags:
          - "部门管理"
        summary: "添加部门成员"
        description: '接口格式：/builtin/admin/api/v1/departments/{department_id}/members。支持将用户加入多个部门。请求体示例：{"department_id":"5001","members":[{"user_id":"1001","member_role":"MANAGER","member_type":"PRIMARY"},{"user_id":"1002","member_role":"MEMBER","member_type":"DUAL"}]}。'
        responses:
          "200":
            examples:
              "application/json": '{}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdateDepartmentMembers
      option:
        tags:
          - "部门管理"
        summary: "更新部门成员"
        description: '接口格式：/builtin/admin/api/v1/departments/{department_id}/members。按 members/update_mask 更新成员关系。请求体示例：{"department_id":"5001","members":[{"user_id":"1002","member_role":"LEAD","member_status":"ACTIVE"}]}。'
        responses:
          "200":
            examples:
              "application/json": '{}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DeleteDepartmentMember
      option:
        tags:
          - "部门管理"
        summary: "移除部门成员"
        description: "接口格式：/builtin/admin/api/v1/departments/{department_id}/members/{user_id}。移除指定成员关系。"
        responses:
          "200":
            examples:
              "application/json": '{}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.GetCurrentUser
      option:
        tags:
          - "个人中心"
        summary: "获取当前用户资料"
        description: "接口格式：GET /builtin/admin/api/v1/self/user。仅要求有效认证，不要求管理员角色；目标用户只取自认证上下文，URL、query 和 body 均不能指定其他用户。返回个人中心所需的最小资料、KnownAdmin LOCAL 身份的 MFA 状态和稳定 etag，不返回身份证、地址、metadata、审计操作人、身份凭据或成员关系。数据库用户不存在返回 404；认证缺失返回 401；策略拒绝返回 403；数据库或解密异常返回 500。响应包含 Cache-Control: private, no-store。"
        responses:
          "200":
            examples:
              "application/json": '{"id":"1001","username":"alice","nickname":"Alice","timezone":"Asia/Shanghai","locale":"zh-CN","type":"EMPLOYEE","status":"ACTIVE","gender":"PRIVATE","email":"alice@example.test","email_verified":true,"phone_number":{"country_code":"86","national_number":"13800000000"},"phone_number_verified":true,"mfa_enabled":true,"password_change_supported":true,"created_at":"2025-01-01T00:00:00Z","updated_at":"2025-01-02T00:00:00Z","etag":"8f7c2f5b6c29d4e4"}'
          "401":
            description: "缺少有效认证凭证或认证用户标识"
            schema:
              jsonSchema:
                ref: ".grpc_kit.api.known.status.v1.ErrorResponse"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdateCurrentUser
      option:
        tags:
          - "个人中心"
        summary: "更新当前用户资料"
        description: '接口格式：PATCH /builtin/admin/api/v1/self/user。仅更新 update_mask 指定的个人资料字段，必须携带 GetCurrentUser 返回的 etag；过期 etag 返回 409。用户名、联系方式、账号状态和身份信息不可由此接口修改。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"1001","nickname":"Alice Chen","etag":"new-etag"}'
          "409":
            description: "资料已被其他请求更新，请刷新后重试"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ChangeCurrentUserPassword
      option:
        tags:
          - "个人中心"
        summary: "修改当前用户本地密码"
        description: '接口格式：PUT /builtin/admin/api/v1/self/user/security/password。仅适用于具备 ACTIVE LOCAL 身份的用户；current_password_hash 和 new_password_hash 均为现有浏览器侧 SHA-256 协议值。当前密码错误返回 403，外部身份用户返回 400。'
        responses:
          "200":
            examples:
              "application/json": '{}'
          "403":
            description: "访问策略拒绝当前认证用户"
            schema:
              jsonSchema:
                ref: ".grpc_kit.api.known.status.v1.ErrorResponse"
          "404":
            description: "认证用户在当前数据库中不存在"
            schema:
              jsonSchema:
                ref: ".grpc_kit.api.known.status.v1.ErrorResponse"
          "500":
            description: "数据库查询或敏感字段解密失败"
            schema:
              jsonSchema:
                ref: ".grpc_kit.api.known.status.v1.ErrorResponse"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListUsers
      option:
        tags:
          - "用户管理"
        summary: "用户列表"
        description: "接口格式：/builtin/admin/api/v1/users。需要 users.list 权限；FULL view 还需要 users.sensitive.get 权限。支持分页、过滤与排序。"
        responses:
          "200":
            examples:
              "application/json": '{"users":[{"id":"1001","username":"alice","nickname":"Alice Chen","profile":"资深风控审计员","picture":"https://cdn.example.com/avatars/alice.png","website":"https://intra.example.com/u/alice","timezone":"Asia/Shanghai","locale":"zh-CN","type":"EMPLOYEE","status":"ACTIVE","gender":"FEMALE","phone_number":{"country_code":"86","national_number":"13900001234"},"email":"alice@example.com"},{"id":"1002","username":"bob","nickname":"Bob Li","profile":"平台研发工程师","picture":"https://cdn.example.com/avatars/bob.png","timezone":"Asia/Shanghai","locale":"zh-CN","type":"EMPLOYEE","status":"ACTIVE","gender":"MALE","email":"bob@example.com"}],"next_page_token":"users:cursor:2","total_size":2}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DeleteUser
      option:
        tags:
          - "用户管理"
        summary: "软删除用户"
        description: "接口格式：DELETE /builtin/admin/api/v1/users/{id}。用户进入回收站并立即变为 DISABLED；不会删除身份、MFA、成员关系或角色绑定。访问权限由 IAM/OPA 策略控制。"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UndeleteUser
      option:
        tags:
          - "用户管理"
        summary: "恢复用户"
        description: "接口格式：POST /builtin/admin/api/v1/users/{id}:undelete。恢复后用户保持 DISABLED，须通过 UpdateUser 显式启用。访问权限由 IAM/OPA 策略控制。"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ExpungeUser
      option:
        tags:
          - "用户管理"
        summary: "永久删除用户"
        description: "接口格式：POST /builtin/admin/api/v1/users/{id}:expunge。仅允许永久删除已软删除用户，并在同一事务清理 core 从属数据；不可恢复。访问权限由 IAM/OPA 策略控制。"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateUser
      option:
        tags:
          - "用户管理"
        summary: "创建用户"
        description: '接口格式：/builtin/admin/api/v1/users。根据 user 字段创建新用户。请求体示例：{"user":{"username":"alice","nickname":"Alice","type":"EMPLOYEE","status":"ACTIVE","email":"alice@example.com","phone_number":{"country_code":"86","national_number":"13900001234"}}}。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"2","username":"alice","nickname":"Alice","profile":"风控审计员","timezone":"Asia/Shanghai","locale":"zh-CN","type":"EMPLOYEE","status":"ACTIVE","gender":"FEMALE","phone_number":{"country_code":"86","national_number":"13900001234"},"email":"alice@example.com"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdateUser
      option:
        tags:
          - "用户管理"
        summary: "更新用户"
        description: '接口格式：/builtin/admin/api/v1/users/{user.id}。需要 users.update 权限。HTTP body 同时包含 user 和 protobuf JSON FieldMask；验证状态、审计字段及 deleted_at 由服务端或专用流程维护，不能通过本接口更新。请求体示例：{"user":{"nickname":"Alice Chen","profile":"资深风控审计员","status":"ACTIVE"},"update_mask":"nickname,profile,status"}。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"2","username":"alice","nickname":"Alice Chen","profile":"资深风控审计员","timezone":"Asia/Shanghai","locale":"zh-CN","type":"EMPLOYEE","status":"ACTIVE","gender":"FEMALE","email":"alice.chen@example.com"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.GetUser
      option:
        tags:
          - "用户管理"
        summary: "获取用户详情"
        description: "接口格式：/builtin/admin/api/v1/users/{id}。需要 users.get 和 users.sensitive.get 权限，根据用户 ID 获取含敏感字段的管理详情。"
        responses:
          "200":
            examples:
              "application/json": '{"id":"1001","username":"alice","nickname":"Alice Chen","profile":"资深风控审计员","picture":"https://cdn.example.com/avatars/alice.png","website":"https://intra.example.com/u/alice","timezone":"Asia/Shanghai","locale":"zh-CN","type":"EMPLOYEE","status":"ACTIVE","gender":"FEMALE","phone_number":{"country_code":"86","national_number":"13900001234"},"email":"alice@example.com"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListUserAuthBindings
      option:
        tags:
          - "用户管理"
        summary: "获取用户认证身份绑定"
        description: "接口格式：GET /builtin/admin/api/v1/users/{user_id}/auth-bindings。IAM action 为 admin.v1.known:ListUserAuthBindings，由方法级 Policy 在 handler 之前授权。返回认证身份和提供方的只读摘要；credential_configured 表示该绑定所需的用户级认证凭据是否已经配置，当前仅对 LOCAL identity 返回，其他 Provider 省略。用户级 MFA 状态通过 User.mfa_enabled 获取。外部身份标识属于敏感管理信息，响应不会包含密码、MFA、外部令牌或提供方凭据。软删除用户仍可查询；永久不存在的用户返回 404。"
        responses:
          "200":
            examples:
              "application/json": '{"bindings":[{"id":"8101","user_id":"1001","provider_id":"1","provider_code":"local","provider_display_name":"本地账号密码登录","provider_type":"LOCAL","provider_status":"ACTIVE","provider_icon_url":"","provider_user_id":"local-user-1001","credential_configured":true,"created_at":"2025-01-01T00:00:00Z","updated_at":"2026-08-20T01:15:00Z"},{"id":"8102","user_id":"1001","provider_id":"7","provider_code":"corp-oidc","provider_display_name":"企业统一登录","provider_type":"OIDC","provider_status":"DISABLED","provider_icon_url":"https://cdn.example.test/icons/oidc.svg","provider_user_id":"oidc-subject-8f31","provider_union_id":"directory-person-52","created_at":"2026-02-02T02:00:00Z","updated_at":"2026-07-03T03:00:00Z"}]}'
          "400":
            description: "user_id 不是正整数"
            schema:
              jsonSchema:
                ref: ".grpc_kit.api.known.status.v1.ErrorResponse"
          "403":
            description: "IAM Policy 拒绝调用此方法或目标资源"
            schema:
              jsonSchema:
                ref: ".grpc_kit.api.known.status.v1.ErrorResponse"
          "404":
            description: "用户不存在或已被永久删除"
            schema:
              jsonSchema:
                ref: ".grpc_kit.api.known.status.v1.ErrorResponse"
          "500":
            description: "认证身份或提供方摘要查询失败"
            schema:
              jsonSchema:
                ref: ".grpc_kit.api.known.status.v1.ErrorResponse"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdateUserPassword
      option:
        tags:
          - "用户管理"
        summary: "更新用户密码"
        description: '接口格式：/builtin/admin/api/v1/users/{user_id}/password。需要 users.password.reset 权限，用于管理员重置指定用户密码（传递哈希值）；本人改密将在 /self/user/password 使用独立流程。服务端不得记录明文密码或明文哈希。请求体示例：{"new_password_hash":"5e884898da28047151d0e56f8dc6292773603d0d"}。'
        responses:
          "200":
            examples:
              "application/json": '{}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DeleteUserMFA
      option:
        tags:
          - "用户管理"
        summary: "重置指定用户 MFA"
        description: "接口格式：DELETE /builtin/admin/api/v1/users/{user_id}/security/mfa。删除指定用户全部身份上的 MFA 密钥、恢复码及启用状态；访问权限由系统策略控制。操作幂等，不撤销已经签发的访问令牌。"
        responses:
          "204":
            description: "用户 MFA 配置已删除"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.VerifyAuthMFA
      option:
        tags:
          - "MFA 多因素认证"
        summary: "登录 MFA 验证"
        description: '接口格式：/builtin/admin/api/v1/auth/mfa/verify。在 CreateAuthLogin 返回 mfa_required=true 后，前端调用此接口完成 TOTP 二步验证。前置条件：challenge_id 必须来自未过期登录挑战，服务端应审计验证失败次数并禁止重复使用已完成挑战。请求体示例：{"challenge_id":"uuid-xxx","totp_code":"123456"}。'
        responses:
          "200":
            examples:
              "application/json": '{"access_token":"eyJhbGci...","token_type":"Bearer","expires_in":86400}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.StartAuthMFASetup
      option:
        tags:
          - "MFA 多因素认证"
        summary: "登录态首次配置 MFA（开始）"
        description: '接口格式：/builtin/admin/api/v1/auth/mfa/setup/start。当登录返回 challenge_type=TOTP_SETUP 时，调用本接口获取二维码和密钥。前置条件：challenge_id 必须来自当前登录态且未过期，返回的 secret 仅允许本次配置流程使用并应写入审计日志。请求体示例：{"challenge_id":"uuid-xxx"}。'
        responses:
          "200":
            examples:
              "application/json": '{"secret":"JBSWY3DPEHPK3PXP","qr_uri":"otpauth://totp/KnownAdmin:alice?secret=JBSWY3DPEHPK3PXP&issuer=KnownAdmin","setup_challenge_id":"uuid-setup-xxx"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ConfirmAuthMFASetup
      option:
        tags:
          - "MFA 多因素认证"
        summary: "登录态首次配置 MFA（确认）"
        description: '接口格式：/builtin/admin/api/v1/auth/mfa/setup/confirm。输入 6 位 TOTP 验证码确认绑定并签发登录 token。前置条件：setup_challenge_id 必须与开始阶段返回值匹配且未过期，服务端应审计确认结果并禁止跳过验证码校验直接签发 token。请求体示例：{"setup_challenge_id":"uuid-setup-xxx","totp_code":"123456"}。'
        responses:
          "200":
            examples:
              "application/json": '{"access_token":"eyJhbGci...","token_type":"Bearer","expires_in":86400}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.SetupCurrentUserMFA
      option:
        tags:
          - "MFA 多因素认证"
        summary: "设置 MFA（获取密钥和二维码）"
        description: '接口格式：POST /builtin/admin/api/v1/self/user/security/mfa/setup。目标用户只取自认证上下文；challenge 绑定当前 token 的 JWT ID、用户、类型和 TTL，生成的 secret 仅允许短时展示。'
        responses:
          "200":
            examples:
              "application/json": '{"secret":"JBSWY3DPEHPK3PXP","qr_uri":"otpauth://totp/KnownAdmin:alice?secret=JBSWY3DPEHPK3PXP&issuer=KnownAdmin","challenge_id":"uuid-xxx"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ConfirmCurrentUserMFA
      option:
        tags:
          - "MFA 多因素认证"
        summary: "确认开启 MFA"
        description: '接口格式：POST /builtin/admin/api/v1/self/user/security/mfa/setup:confirm。仅允许发起 setup 的同一用户、同一 access-token 会话确认。challenge 必须类型正确、未过期且未被消费；成功后立即失效。请求体示例：{"challenge_id":"uuid-xxx","totp_code":"123456"}。'
        responses:
          "200":
            examples:
              "application/json": '{"recovery_codes":["a1b2c3d4","e5f6g7h8","i9j0k1l2","m3n4o5p6","q7r8s9t0","u1v2w3x4","y5z6a7b8","c9d0e1f2"]}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DisableCurrentUserMFA
      option:
        tags:
          - "MFA 多因素认证"
        summary: "关闭 MFA"
        description: '接口格式：POST /builtin/admin/api/v1/self/user/security/mfa:disable。目标用户只取自认证上下文；验证当前 TOTP 码或恢复码后关闭 MFA。请求体示例：{"totp_code":"123456"}。'
        responses:
          "200":
            examples:
              "application/json": '{}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateGroup
      option:
        tags:
          - "群组管理"
        summary: "创建群组"
        description: '接口格式：/builtin/admin/api/v1/groups。根据 group 字段创建群组。请求体示例：{"group":{"code":"ops-team","display_name":"运维团队","type":"PROJECT","status":"ACTIVE","max_members":80}}。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"20","code":"ops-team","type":"PROJECT","status":"ACTIVE","display_name":"运维团队","sort_order":30,"max_members":80,"metadata":{"slack_channel":"#ops-alert"},"description":"负责线上运行保障","visibility":"VISIBLE"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListGroups
      option:
        tags:
          - "群组管理"
        summary: "群组列表"
        description: "接口格式：/builtin/admin/api/v1/groups。支持分页、过滤与排序。"
        responses:
          "200":
            examples:
              "application/json": '{"groups":[{"id":"20","code":"ops-team","type":"PROJECT","status":"ACTIVE","display_name":"运维团队","sort_order":30,"max_members":80,"description":"负责线上运行保障","visibility":"VISIBLE"}],"next_page_token":"groups:21","total_size":14}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdateGroup
      option:
        tags:
          - "群组管理"
        summary: "更新群组"
        description: '接口格式：/builtin/admin/api/v1/groups/{group.id}。路径中的 group.id 应与请求体一致，支持 update_mask。请求体示例：{"group":{"id":"20","display_name":"运维团队（更新）","max_members":100},"update_mask":{"paths":["display_name","max_members"]}}。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"20","code":"ops-team","type":"PROJECT","status":"ACTIVE","display_name":"运维团队（更新）","sort_order":25,"max_members":100,"metadata":{"slack_channel":"#ops-warroom"},"description":"增加应急值班职能","visibility":"VISIBLE"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DeleteGroup
      option:
        tags:
          - "群组管理"
        summary: "软删除群组"
        description: "接口格式：DELETE /builtin/admin/api/v1/groups/{id}。群组进入回收站并变为 DISABLED，成员关系和角色绑定保留以便恢复。访问权限由 IAM/OPA 策略控制。"
        responses:
          "200":
            examples:
              "application/json": '{"id":"20","code":"ops-team","status":"DISABLED","deleted_at":"2026-08-20T00:00:00Z"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UndeleteGroup
      option:
        tags:
          - "群组管理"
        summary: "恢复群组"
        description: "接口格式：POST /builtin/admin/api/v1/groups/{id}:undelete。恢复后群组保持 DISABLED，须通过 UpdateGroup 显式启用。访问权限由 IAM/OPA 策略控制。"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ExpungeGroup
      option:
        tags:
          - "群组管理"
        summary: "永久删除群组"
        description: "接口格式：POST /builtin/admin/api/v1/groups/{id}:expunge。仅允许永久删除已软删除且未受保护的叶子群组，并在同一事务清理成员关系和角色绑定；不可恢复。访问权限由 IAM/OPA 策略控制。"
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.GetGroup
      option:
        tags:
          - "群组管理"
        summary: "获取群组详情"
        description: "接口格式：/builtin/admin/api/v1/groups/{id}。根据群组 ID 获取详情。"
        responses:
          "200":
            examples:
              "application/json": '{"id":"20","code":"ops-team","type":"PROJECT","status":"ACTIVE","display_name":"运维团队","sort_order":30,"max_members":80,"metadata":{"slack_channel":"#ops-alert"},"description":"负责线上运行保障","visibility":"VISIBLE"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListGroupMembers
      option:
        tags:
          - "群组管理"
        summary: "群组成员列表"
        description: "接口格式：/builtin/admin/api/v1/groups/{parent}/members。parent 表示群组 ID。"
        responses:
          "200":
            examples:
              "application/json": '{"members":[{"id":"801","user_id":"1","username":"admin","nickname":"系统管理员","target_type":"GROUP","target_id":"20","member_role":"OWNER","member_status":"ACTIVE","member_type":"PRIMARY","description":"群组负责人"}],"next_page_token":"group-members:2","total_size":1}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateGroupMembers
      option:
        tags:
          - "群组管理"
        summary: "创建群组成员"
        description: '接口格式：/builtin/admin/api/v1/groups/{parent}/members。parent 表示群组 ID。请求体示例：{"parent":"20","members":[{"user_id":"1001","member_role":"OWNER"},{"user_id":"1002","member_role":"MEMBER"}]}。'
        responses:
          "200":
            examples:
              "application/json": '{}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DeleteGroupMember
      option:
        tags:
          - "群组管理"
        summary: "删除群组成员"
        description: "接口格式：/builtin/admin/api/v1/groups/{parent}/members/{user_id}。parent 表示群组 ID。"
        responses:
          "200":
            examples:
              "application/json": '{}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdateGroupMember
      option:
        tags:
          - "群组管理"
        summary: "更新群组成员"
        description: '接口格式：/builtin/admin/api/v1/groups/{parent}/members/{user_id}。parent 表示群组 ID。请求体示例：{"parent":"20","user_id":"1002","member":{"member_role":"LEAD","member_status":"ACTIVE"},"update_mask":{"paths":["member_role","member_status"]}}。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"802","user_id":"2","username":"alice","nickname":"Alice","target_type":"GROUP","target_id":"20","member_role":"MEMBER","member_status":"ACTIVE","member_type":"PRIMARY","description":"值班成员"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateCredential
      option:
        tags:
          - "安全相关"
        summary: "创建凭证"
        description: '接口格式：/builtin/admin/api/v1/credentials。根据 credential 字段创建密钥或证书凭证。前置条件：仅允许具备密钥管理权限的管理员调用，禁止回传私钥材料，新增或轮换操作必须写入审计日志。请求体示例：{"credential":{"code":"admin-jwks","type":"KEY_PAIR","algorithm":"RSA","usage":"JWKS","status":"ACTIVE","source":"SYSTEM"}}。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"301","code":"admin-jwks","type":"KEY_PAIR","algorithm":"RSA","usage":"JWKS","visibility":"PRIVATE","status":"ACTIVE","source":"SYSTEM","key_id":"kid-admin-2026","metadata":{"rotation":"30d"},"description":"OIDC 签名公钥集合"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListCredentials
      option:
        tags:
          - "安全相关"
        summary: "凭证列表"
        description: '接口格式：/builtin/admin/api/v1/credentials。返回凭证列表，敏感字段（api_secret / private_key / symmetric_key）默认不返回。'
        responses:
          "200":
            examples:
              "application/json": '{"credentials":[{"id":"1","code":"key1","type":"KEY_PAIR","algorithm":"RSA","usage":"JWKS","status":"ACTIVE","source":"SYSTEM"}],"next_page_token":"","total_size":1}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.GetCredential
      option:
        tags:
          - "安全相关"
        summary: "获取凭证详情"
        description: '接口格式：/builtin/admin/api/v1/credentials/{id}。返回凭证详情，敏感字段需额外权限才返回。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"1","code":"key1","type":"KEY_PAIR","algorithm":"RSA","usage":"JWKS","status":"ACTIVE","source":"SYSTEM","key_id":"a1b2c3d4e5f6"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdateCredential
      option:
        tags:
          - "安全相关"
        summary: "更新凭证"
        description: '接口格式：/builtin/admin/api/v1/credentials/{id}。仅允许更新 status / display_name / description / expires_at / metadata。受保护（protected=true）的凭证仅允许更新 display_name / description。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"1","code":"key1","status":"DISABLED"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DeleteCredential
      option:
        tags:
          - "安全相关"
        summary: "删除凭证"
        description: '接口格式：/builtin/admin/api/v1/credentials/{id}。软删除指定凭证，受保护（protected=true）的凭证不可删除。'
        responses:
          "200":
            examples:
              "application/json": '{}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.RevealCredentialSecret
      option:
        tags:
          - "安全相关"
        summary: "揭示凭证密钥"
        description: '接口格式：/builtin/admin/api/v1/credentials/{id}/reveal。通过当前用户密码二次验证后，返回解密后的敏感字段（api_secret / private_key / passphrase / license_key / symmetric_key）。请求体示例：{"id":"1","password_hash":"e3b0c44e98fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"}。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"1","symmetric_key":"eyJhbGciOiJIUzI1NiJ9.payload.signature"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.GetOAuth2Discovery
      option:
        tags:
          - "安全相关"
        summary: "获取 OAuth2 Discovery"
        description: "接口格式：/builtin/admin/api/v1/oauth2/.well-known/openid-configuration。前置条件：仅允许通过 HTTPS 暴露 issuer 元数据，配置变更应纳入审计。"
        responses:
          "200":
            examples:
              "application/json": '{"issuer":"https://admin.v1.known.api.grpc-kit.com","authorization_endpoint":"https://admin.v1.known.api.grpc-kit.com/builtin/admin/api/v1/auth/login","token_endpoint":"https://admin.v1.known.api.grpc-kit.com/builtin/admin/api/v1/auth/token","jwks_uri":"https://admin.v1.known.api.grpc-kit.com/builtin/admin/api/v1/oauth2/jwks","response_types_supported":["code","token"],"subject_types_supported":["public"],"id_token_signing_alg_values_supported":["RS256"]}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.GetOAuth2JSONWebKeys
      option:
        tags:
          - "安全相关"
        summary: "获取 OAuth2 JSON Web Keys"
        description: "接口格式：/builtin/admin/api/v1/oauth2/jwks。前置条件：仅允许发布 ACTIVE 且可公开的签名密钥，禁止返回私钥或对称密钥材料。"
        responses:
          "200":
            examples:
              "application/json": '{"keys":[{"kty":"RSA","kid":"key-1","alg":"RS256","use":"sig"}]}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.GetOAuth2Userinfo
      option:
        tags:
          - "安全相关"
        summary: "获取 OAuth2 Userinfo"
        description: "接口格式：/builtin/admin/api/v1/oauth2/userinfo。前置条件：仅允许携带有效 access_token 调用，服务端应按最小权限返回 claims 并审计访问。"
        responses:
          "200":
            examples:
              "application/json": '{"user_id":"1","username":"admin","nickname":"系统管理员","profile":"系统初始账号","picture":"https://cdn.example.com/avatars/admin.png","website":"https://admin.example.com","timezone":"Asia/Shanghai","locale":"zh-CN"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListOAuth2Clients
      option:
        tags:
          - "安全相关"
        summary: "OAuth2 客户端列表"
        description: "接口格式：/builtin/admin/api/v1/oauth2/clients。返回已注册的 OAuth2 客户端列表。前置条件：仅允许具备客户端管理权限的管理员调用，返回结果禁止包含 client_secret_hash 等敏感字段。"
        responses:
          "200":
            examples:
              "application/json": '{"clients":[{"id":"1","client_id":"web-app","display_name":"Web 应用","client_status":1,"redirect_uris":["https://app.example.com/callback"],"grant_types":["authorization_code"],"scopes":["openid","profile"]},{"id":"2","client_id":"mobile.ios","display_name":"iOS 客户端","client_status":1,"redirect_uris":["com.example.app://oauth/callback"],"grant_types":["authorization_code","refresh_token"],"scopes":["openid","profile","email"]}],"next_page_token":"","total_size":2}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateOAuth2Client
      option:
        tags:
          - "安全相关"
        summary: "创建 OAuth2 客户端"
        description: '接口格式：/builtin/admin/api/v1/oauth2/clients。用于注册新的 OAuth2 客户端应用。前置条件：仅允许具备最小权限的管理员调用，client_secret 使用 bcrypt 哈希存储，明文不可逆。请求体示例：{"client":{"client_id":"web-app","display_name":"Web 应用","redirect_uris":["https://app.example.com/callback"],"grant_types":["authorization_code"],"scopes":["openid","profile"]},"client_secret":"my-secret-123"}。'
        responses:
          "200":
            examples:
              "application/json": '{"client":{"id":"3","client_id":"web-app","display_name":"Web 应用","client_status":1,"redirect_uris":["https://app.example.com/callback"],"grant_types":["authorization_code"],"scopes":["openid","profile"]},"client_secret":"aB3kF9mN2qR7sV4x"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.GetOAuth2Client
      option:
        tags:
          - "安全相关"
        summary: "获取 OAuth2 客户端详情"
        description: "接口格式：/builtin/admin/api/v1/oauth2/clients/{id}。前置条件：仅允许具备客户端管理权限的管理员调用，响应中禁止回传 client_secret_hash 等敏感字段。"
        responses:
          "200":
            examples:
              "application/json": '{"id":"3","client_id":"web-app","display_name":"Web 应用","client_status":1,"redirect_uris":["https://app.example.com/callback"],"grant_types":["authorization_code"],"scopes":["openid","profile"],"logo_url":"","description":""}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DeleteOAuth2Client
      option:
        tags:
          - "安全相关"
        summary: "删除 OAuth2 客户端"
        description: "接口格式：/builtin/admin/api/v1/oauth2/clients/{id}。软删除指定 OAuth2 客户端。前置条件：仅允许具备最小权限的管理员调用，删除前应确认无活动授权流量并记录审计日志。"
        responses:
          "200":
            examples:
              "application/json": '{}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdateOAuth2Client
      option:
        tags:
          - "安全相关"
        summary: "更新 OAuth2 客户端"
        description: '接口格式：/builtin/admin/api/v1/oauth2/clients/{id}。按请求字段更新 client 配置。前置条件：仅允许具备最小权限的管理员调用，client_id 不可修改，client_secret 变更时使用 bcrypt 哈希存储。请求体示例：{"id":"3","client":{"display_name":"Web 应用（更新）","client_status":2},"update_mask":{"paths":["display_name","client_status"]}}。'
        responses:
          "200":
            examples:
              "application/json": '{"id":"3","client_id":"web-app","display_name":"Web 应用（更新）","client_status":2,"redirect_uris":["https://app.example.com/callback"],"grant_types":["authorization_code"],"scopes":["openid","profile"]}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateDatabaseInitialize
      option:
        tags:
          - "数据库相关"
        summary: "初始化数据库"
        description: '接口格式：/builtin/admin/api/v1/database/initialize。执行数据库初始化，空响应表示成功。请求体示例：{"force":false,"tenant":"default"}。'
        responses:
          "200":
            examples:
              "application/json": '{}'
